app-product-for-bussiness {
    .custom-control {
        position: relative !important;
        z-index: 1 !important;
        display: block !important;
        min-height: 1.5rem !important;
        padding-left: 0px !important;
        -webkit-print-color-adjust: exact !important;
    }
}
