<div class="modal-header">
  <h4 class="modal-title text-uppercase text-danger">{{ModalInfo.Title}}</h4>
  <button style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body padding-15">
  <form name="form" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Nhóm bài thực hành/công đoạn
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <nts-drop-down-tree [items]="listPracticeGroup" [columns]="columnName" ntsParentId="Exten" ntsValue="Id"
            ntsLabel="Code" ntsMode="single" ntsAutoClose="true" [(ngModel)]="model.PracticeGroupId" name="Id" required
            (ngModelChange)="changePracticeCode()">
          </nts-drop-down-tree>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Tên bài thực hành/công đoạn
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="model.Name" name="Name" maxlength="300" required>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Mã bài thực hành/công đoạn
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="model.Code" name="Code" maxlength="50" required>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Thời gian
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input ntsNumberInt type="text" class="form-control" [(ngModel)]="model.TrainingTime" name="TrainingTime"
              maxlength="50" placeholder="Giờ" required>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Phiên bản
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="model.CurentVersion" name="CurentVersion"
              maxlength="30" required>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Nội dung sửa
            <span class='text-danger text-strong'></span>
          </label>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="model.Content" name="Content" maxlength="300">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xl-4 radio">
        <label class="form-label">Tài liệu</label>
        <label class="radio">Có
          <input type="radio" name="PracticeFile" [(ngModel)]="model.PracticeFile" [value]="true">
          <span class="checkround"></span>
        </label>
        <label class="radio">Không
          <input type="radio" name="PracticeFile" [(ngModel)]="model.PracticeFile" [value]="false">
          <span class="checkround"></span>
        </label>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xl-4 radio">
        <label class="form-label">Thiết bị phụ trợ</label>
        <label class="radio">Có
          <input type="radio" name="PracticeSupMaterial" [(ngModel)]="model.SupMaterial" [value]="true">
          <span class="checkround"></span>
        </label>
        <label class="radio">Không
          <input type="radio" name="PracticeSupMaterial" [(ngModel)]="model.SupMaterial" [value]="false">
          <span class="checkround"></span>
        </label>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xl-4 radio">
        <label class="form-label">Vật tư tiêu hao</label>
        <label class="radio">Có
          <input type="radio" name="PracticeMaterialConsumable" [(ngModel)]="model.MaterialConsumable" [value]="true">
          <span class="checkround"></span>
        </label>
        <label class="radio">Không
          <input type="radio" name="PracticeMaterialConsumable" [(ngModel)]="model.MaterialConsumable" [value]="false">
          <span class="checkround"></span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label class="form-label">Mô tả
            <span class='text-danger text-strong'>&nbsp;</span>
          </label>
          <div class="controls">
            <textarea [(ngModel)]="model.Note" name="Note" class="form-control" maxLength="300"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="text-uppercase" style="white-space: nowrap"><b>Giá bài thực hành - Giáo trình</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
              <table class="table table-bordered" style="min-width:800px">
                <thead>
                  <tr>
                    <th width="50px" class="text-center">STT</th>
                    <th width="200px" class="text-center">Loại giá</th>
                    <th width="150px" class="text-center">Ðơn vị</th>
                    <th width="150px" class="text-center">Giá(VND)</th>
                    <th width="150px" class="text-center">Số luợng</th>
                    <th width="150px" class="text-center">Thành tiền(VND)</th>
                    <th width="150px" class="text-center">Leadtime</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="50px" class="text-center">1</td>
                    <td width="200px" class="text-center">Giá giáo trình</td>
                    <td width="150px" class="text-center">
                      <select name="UnitId" required class="form-control" [(ngModel)]="model.UnitId">
                        <option *ngFor="let item of listUnit" [ngValue]="item.Id">
                          {{item.Name}}</option>
                      </select>
                    </td>
                    <td width="150px" class="text-center">
                      <input currencyMask type="text" min="0" [(ngModel)]="LessonPrice" class="form-control"
                        name="LessonPrice">
                    </td>
                    <td width="150px" class="text-center">
                      <input ntsNumberInt type="text" min="0" [(ngModel)]="Quantity" class="form-control"
                        name="Quantitypractice">
                    </td>
                    <td width="150px" class="text-right">{{(LessonPrice*Quantity)|number:'1.0-0'}}</td>
                    <td width="150px" class="text-right">
                      <input ntsNumberInt type="text" min="0" [(ngModel)]="model.LeadTime" class="form-control"
                        name="LeadTimepractice">
                    </td>
                  </tr>
                  <tr>
                    <td width="50px" class="text-center">2</td>
                    <td width="200px" class="text-center">Giá thiết bị phần cứng</td>
                    <td width="150px" class="text-center">
                      <!-- <input type="text" [(ngModel)]="Unit2" class="form-control" name="Unit2"> -->
                    </td>
                    <td width="150px" class="text-center">
                      <!-- <input ntsCurrencyFormatter type="number" min="0" [(ngModel)]="HardwarePrice" class="form-control" name="HardwarePrice"> -->
                    </td>
                    <td width="150px" class="text-center">
                      <!-- <input type="number" min="0" [(ngModel)]="Amount2" class="form-control" name="Amount2"> -->
                    </td>
                    <td ntsNumberInt width="150px" class="text-right" type="tesxt">{{0}}</td>
                    <td width="150px" class="text-center">
                      <!-- <input type="number" min="0" [(ngModel)]="Date2" class="form-control" name="Date2">Ngày -->
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" style="text-align: right"><b>Tổng số</b></td>
                    <td ntsNumberInt width="150px" type="text" class="text-right">{{(LessonPrice*Quantity)|number:'1.0-0'}}</td>
                  </tr>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <ng-container>
    <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)">
      <i class="fa fa-save"></i>&nbsp;
      <span>{{ModalInfo.SaveText}}</span>
    </button>
  </ng-container>
  <button type="button" class="btn btn-danger" (click)="closeModal(false)">
    <i class="fa fa-power-off"></i> &nbsp;
    <span>
      Đóng
    </span>
  </button>
</div>