<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="form-label">DMVT</label>
            <div class="controls">
                <input type="text" class="form-control" name="pathFile" [(ngModel)]="pathFile" readonly>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="form-label">Tên file</label>
            <div class="controls">
                <input type="text" class="form-control" name="fileName" [(ngModel)]="fileName">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 margin-top-20 text-right">

        <button class="btn btn-success btn-success-system" (click)="showChooseFolderWindow()">
            <i class=""></i> &nbsp;Chọn file</button>&nbsp; &nbsp;
        <button class="btn btn-success btn-success-system" (click)="checkFileDMVT()">
            <i class=""></i> &nbsp;Kiểm tra</button>&nbsp; &nbsp;

        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i
                    class="fas fa-cog"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="btn btn-success btn-success-system" (click)="showChooseFolderExport()"
                [disabled]="!pathFile">
                <i class=""></i> &nbsp;Xuất File</button>
                <button class="btn btn-success btn-success-system" (click)="ExportDMVT();">
                    <i class="fas fa-file-excel"></i> &nbsp;Xuất DMVT chưa tồn tại</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-lg-12 col-xl-12">
        <div #scrollHeaderOne style="height: auto; width:100%;overflow: hidden">
            <table class="table table-bordered mb-0" style="word-wrap: break-word ;min-width:1380px;">
                <thead>
                    <tr>
                        <th width="50px" class="text-center">STT</th>
                        <th width="200px" class="text-center ">Tên vật tư</th>
                        <th width="100px" class="text-center">Thông số</th>
                        <th width="120px" class="text-center ">Mã vật tư</th>
                        <th width="120px" class="text-center ">Mã vật liệu</th>
                        <th width="70px" class="text-center ">ĐV</th>
                        <th width="70px" class="text-center ">SL</th>
                        <th width="70px" class="text-center ">VL</th>
                        <th width="70px" class="text-center ">KL</th>
                        <th width="120px" class="text-center ">Hãng sản xuất</th>
                        <th width="150px" class="text-center ">Ghi chú</th>
                        <th min-width="240px" class="text-center">Thông báo lỗi</th>
                    </tr>
                </thead>
            </table>
        </div>
        <perfect-scrollbar [config]="constant.ScrollConfig" style="height: 500px;">
            <table class="table table-bordered" style="min-width:1380px; ">
                <tbody>
                    <tr *ngFor="let row of listDMVT; let i = index">

                        <td width="50px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(0)!=-1}">
                            {{row.Stt}}</td>

                        <td width="200px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(1)!=-1}">
                            {{row.Name}}</td>

                        <td width="100px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(2)!=-1}">
                            {{row.Specification}}</td>

                        <td width="120px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(3)!=-1}">
                            {{row.Code}}</td>

                        <td width="120px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(4)!=-1}">
                            {{row.RawMaterialCode}}</td>

                        <td width="70px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(5)!=-1}">
                            {{row.DV}}</td>

                        <td width="70px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(6)!=-1}">
                            {{row.SL}}</td>

                        <td width="70px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(7)!=-1}">
                            {{row.VL}}</td>

                        <td width="70px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(8)!=-1}">
                            {{row.KL}}</td>

                        <td width="120px" class="text-center"
                            [ngClass]="{'warning_material': row.ListIndexPart.indexOf(9)!=-1}">
                            {{row.ManufactureName}}</td>

                        <td width="150px" class="text-center">{{row.Note}}</td>

                        <ng-container>
                            <td style="padding: 0">
                                <table class="table table-bordered margin-bottom-0" *ngIf="row.ListEror.length > 0">
                                    <tbody>
                                        <tr *ngFor="let row2 of row.ListEror; let i = index">
                                            <td min-width="240px">{{row2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </perfect-scrollbar>
    </div>
</div>