<div class="modal-header">
    <h4 class="modal-title text-uppercase text-danger">{{modalInfo.Title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body padding-15">
    <form name="form" class="tab-form-demo" #f="ngForm" novalidate>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Mã nhóm lương
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="salaryGroupModel.Code" name="code"
                            maxlength="200" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Tên nhóm lương
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="salaryGroupModel.Name" name="name"
                            maxlength="200">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="form-label">Ghi chú
                        <span class='text-danger text-strong'>&nbsp;</span>
                    </label>
                    <div class="controls">
                        <textarea [(ngModel)]="salaryGroupModel.Note" name="Note" rows="5" class="form-control"
                            [maxLength]="500"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <ng-container>
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{modalInfo.SaveText}}</span>
        </button>
    </ng-container>
    <ng-container *ngIf="salaryGroupModel.Id===''">
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="saveAndContinue()">
            <i class="fa fa-save"></i>&nbsp;
            <span>Lưu & tiếp tục</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            Đóng
        </span>
    </button>
</div>