<div class="modal-header">
    <h4 class="modal-title text-uppercase text-danger">{{modalInfo.Title}}</h4>
    <button style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="content-wrapper padding-top-10">
    <form name="form" class="tab-form-demo" #f="ngForm" novalidate>
        <div #scrollPlanDesignProject class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
            <label class="form-label" style="line-height:35px;">Danh sách vật tư đã lưu</label>
            <div #scrollPlanDesignProjectHeader style="overflow-x: auto;overflow: hidden;">
                <table class="table table-bordered mb-0" style="min-width:1350px">
                    <thead>
                        <tr>
                            <th  width="50px" class="text-center">STT</th>
                            <th  width="100px" class="text-center">Tên vật tư</th>
                            <th  width="100px" class="text-center">Thông số</th>
                            <th  min-width="200px" class="text-center">Mã vật tư</th>
                            <th  width="100px" class="text-center">Mã vật liệu</th>
                            <th  width="100px" class="text-center">Đơn vị</th>
                            <th  width="100px" class="text-center">Số lượng</th>
                            <th  width="100px" class="text-center">Vật liệu</th>
                            <th  width="100px" class="text-center">Khối lượng</th>
                            <th  width="100px" class="text-center">Hãng sản xuất</th>
                            <th  width="100px" class="text-center">Giá</th>
                            <th  width="100px" class="text-center">Thành tiền</th>
                            <th  width="100px" class="text-center">Ghi chú</th>
                        </tr>

                    </thead>
                </table>
            </div>
            <perfect-scrollbar [config]="constant.ScrollConfig" style="height:300px; width:100%;">
                <table class="table table-bordered" style="min-width:1350px">
                    <tbody>
                        <tr *ngFor="let row of listData; let i = index">
                            <td width="50px" class="text-center">{{row.Index}}</td>
                            <td width="100px" class="text-center">{{row.Name}}</td>
                            <td width="100px" class="text-center">{{row.Specification }}</td>
                            <td min-width="200px" class="text-center">{{row.Code}}</td>
                            <td width="100px" class="text-center">{{row.RawMaterialCode }}</td>
                            <td width="100px" class="text-center">{{row.UnitName }}</td>
                            <td width="100px" class="text-center">{{row.Quantity}}</td>
                            <td width="100px" class="text-center">{{row.RawMaterial }}</td>
                            <td width="100px" class="text-center">{{row.Weight}}</td>
                            <td width="100px" class="text-center">{{row.ManufactureCode }}</td>
                            <td width="100px" class="text-center">{{row.Pricing|number:'1.0-0' }}</td>
                            <td width="100px" class="text-center">{{row.Amount|number:'1.0-0'}}</td>
                            <td width="100px" class="text-center">{{row.Note}}</td>

                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>

        <div #scrollPlanDesignProject1 class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
            <label class="form-label" style="line-height:35px;">Danh sách vật tư mới import</label>
            <div #scrollPlanDesignProjectHeader1 style="overflow-x: auto;overflow: hidden;">
                <table class="table table-bordered mb-0" style="min-width:1350px">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">STT</th>
                            <th width="100px" class="text-center">Tên vật tư</th>
                            <th width="100px" class="text-center">Thông số</th>
                            <th min-width="200px" class="text-center">Mã vật tư</th>
                            <th width="100px" class="text-center">Mã vật liệu</th>
                            <th width="100px" class="text-center">Đơn vị</th>
                            <th width="100px" class="text-center">Số lượng</th>
                            <th width="100px" class="text-center">Vật liệu</th>
                            <th width="100px" class="text-center">Khối lượng</th>
                            <th width="100px" class="text-center">Hãng sản xuất</th>
                            <th width="100px" class="text-center">Giá</th>
                            <th width="100px" class="text-center">Thành tiền</th>
                            <th width="100px" class="text-center">Ghi chú</th>

                        </tr>
                    </thead>
                </table>
            </div>
            <perfect-scrollbar [config]="constant.ScrollConfig" style="height:300px; width:100%;">
                <table class="table table-bordered" style="min-width:1350px">
                    <tbody>
                        <tr *ngFor="let row of listData1; let i = index">
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="50px" class="text-center">{{row.NewIndex}}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewName}}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewSpecification }}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" min-width="200px" class="text-center">{{row.Code}}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewRawMaterialCode }}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewUnitName }}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewQuantity}}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewRawMaterial }}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewWeight}}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewManufactureCode }}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewPricing|number:'1.0-0' }}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewAmount|number:'1.0-0'}}</td>
                            <td *ngIf="row.DupplicateIndex == true" style="background-color:red" width="100px" class="text-center">{{row.NewNote}}</td>
                            <!-- //check -->
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="50px" class="text-center">{{row.NewIndex}}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewName}}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewSpecification }}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" min-width="200px" class="text-center">{{row.Code}}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewRawMaterialCode }}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewUnitName }}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewQuantity}}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewRawMaterial }}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewWeight}}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewManufactureCode }}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewPricing|number:'1.0-0' }}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewAmount|number:'1.0-0'}}</td>
                            <td *ngIf="row.DupplicateCode == true && row.DupplicateIndex == false" style="background-color:yellow" width="100px" class="text-center">{{row.NewNote}}</td>
                            <!-- check -->
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="50px" class="text-center">{{row.NewIndex}}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewName}}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewSpecification }}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  min-width="200px" class="text-center">{{row.Code}}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewRawMaterialCode }}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewUnitName }}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewQuantity}}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewRawMaterial }}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewWeight}}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewManufactureCode }}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewPricing|number:'1.0-0' }}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewAmount|number:'1.0-0'}}</td>
                            <td *ngIf="row.DupplicateCode == false && row.DupplicateIndex == false"  width="100px" class="text-center">{{row.NewNote}}</td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
    </form>
    <hr />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-view btn-warning">
                    </button>&nbsp;
                    <small class="padding-right-20">Trùng mã vật tư</small>
                    <button class="btn btn-view btn-danger">
                    </button>&nbsp;
                    <small class="padding-right-20">Trùng số thứ tự</small>
                </div>
            </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            Đóng
        </span>
    </button>
</div>