<div class='content-wrapper'>
  <section class="box box-head">
    <div class="content-body padding-15">
      <div class="row margin-bottom-10">
        <div class="col-md-6 text-left">
          <label class="form-label" style="line-height:35px;">Tổng số
            <span class="bold text-danger">{{model.TotalItem}}</span> vật tư | </label>
            <label class="form-label" style="line-height:35px;">Tổng số tiền
              <span class="bold text-danger">{{model.TotalAmount|number:'1.0-0'}}</span></label>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-success btn-upload" (click)="showImportMaterialPopup();">
            <i class="fas fa-file-import"></i> &nbsp;Import Excel</button>&nbsp;
          <button class="btn btn-success btn-upload" (click)="exportExcel();"
            [disabled]="!model.ListResult||model.ListResult.length==0">
            <i class="fas fa-file-export"></i> &nbsp;Xuất Excel</button>
        </div>
      </div>
      <div class="row" #scrollMaterial>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
          <div #scrollHeaderOne style="height: auto; width:100%;overflow: hidden">
            <table class="table table-bordered mb-0" style="min-width:1930px">
              <thead>
                <tr>
                  <th width="80px" class="text-center">STT</th>
                  <th min-width="250px" class="text-center">Tên vật tư</th>
                  <th width="200px" class="text-center">Thông số</th>
                  <th width="200px" class="text-center">Mã vật tư</th>
                  <th width="200px" class="text-center">Mã vật liệu</th>
                  <th width="80px" class="text-center">Đơn vị</th>
                  <th width="80px" class="text-center">Số lượng</th>
                  <th width="100px" class="text-center">Vật liệu</th>
                  <th width="85px" class="text-center">Khối lượng</th>
                  <th width="150px" class="text-center">Hãng sản xuất</th>
                  <th width="200px" class="text-center">Ghi chú</th>
                  <th width="105px" class="text-center">Số lượng thực</th>
                  <th width="100px" class="text-center">Giá</th>
                  <th width="100px" class="text-center">Thành tiền</th>
                </tr>
              </thead>
            </table>
          </div>
          <perfect-scrollbar [config]="constant.ScrollConfig" style="width:100%;" [style.height.px]="height">
            <table class="table table-bordered" style="min-width:1930px">
              <tbody>
                <tr *ngFor="let row of model.ListResult; let i = index"
                [ngClass]="{'warning_material': row.IsNoPrice, 'selected':selectIndex == i}" (click)="selectRow( i)">
                  <td class="text-left" width="80px">{{row.Index}}</td>
                  <td min-width="250px">{{row.MaterialName}}
                  </td>
                  <td width="200px">{{row.Specification}}</td>
                  <td width="200px">{{row.MaterialCode}}</td>
                  <td width="200px">{{row.RawMaterialCode}}</td>
                  <td class="text-center" width="80px">{{row.UnitName}}
                  </td>
                  <td class="text-center" width="80px">
                    {{row.Quantity}}</td>
                  <td width="100px">{{row.RawMaterial}}</td>
                  <td class="text-center" width="85px">
                    {{row.Weight}}</td>
                  <td width="150px">{{row.ManufacturerCode}}
                  </td>
                  <td width="200px">{{row.Note}}</td>
                  <td class="text-center" width="105px">{{row.ReadQuantity}}</td>
                  <td [ngClass]="{'Parent-class':row.Parent==true,'Child-class':row.Parent==false}" width="100px">
                    {{row.Pricing|number:'1.0-0'}}</td>
                  <td class="text-right pr-3" width="100px">
                    {{row.ReadQuantity*row.Pricing|number:'1.0-0'}}</td>
                </tr>
              </tbody>
              <tfoot *ngIf="!model.ListResult || model.ListResult.length == 0">
                <tr class="bold">
                  <td colspan="14" min-width="300px" class="text-center" style="height: 300px; font-size: 20px;">Không
                    có dữ liệu</td>
                </tr>
              </tfoot>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
      <br>
    </div>
  </section>
</div>