<div class='content-wrapper'>
    <section class="box">
        <div class="content-body pb-0">
            <form name="searchForm" #f="ngForm">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <nts-search-bar [(options)]="searchOptions" [(ngModel)]="modelProduct" name="modelProduct"
                            (change)="searchProductNeedPublications()">
                        </nts-search-bar>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-right">
                        <button class="btn btn-success btn-success-system" (click)="searchProductNeedPublications()">
                            <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
                        <button class="btn btn-default btn-default-system" (click)="clear()">
                            <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="content-body ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                        <table class="table table-bordered" style="min-width:1300px">
                            <thead>
                                <tr>
                                <tr>
                                   
                                    <th width="50px" class="text-center">STT</th>
                                    <th width="120px" class="text-center">Xử lý</th>
                                    <th min-width="250px" class="text-center">Tên thiết bị</th>
                                    <th width="110px" class="text-center">Mã thiết bị</th>
                                    <th width="120px" class="text-center">HD thực hành</th>
                                    <th width="120px" class="text-center">HD sử dụng</th>
                                    <th width="120px" class="text-center">HD bảo trì</th>
                                    <th width="120px" class="text-center">Catalog</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listData; let i = index" (click)="select(i)"
                                [ngClass]="{'selected':selectIndex==i}">
                                    <td class="text-center">{{i +1}}</td>

                                    <td style="text-align: center">
                                        <a *appUipermission="['F030402','F030404']" type="button"
                                            [routerLink]="['/thiet-bi/quan-ly-thiet-bi/chinh-sua/'+ row.Id]"
                                            class="btn btn-xs btn-warning" placement="top" ngbTooltip="Cập nhật"
                                            container="body">
                                            <span class="fa fa-edit" aria-hidden="true"></span>
                                        </a>&nbsp;
                                        
                                    </td>
                                    <td>{{row.Name}}</td>
                                    <td>{{row.Code}}</td>
                                    <td class="text-center">
                                        <div>
                                            <div *ngIf="row.IsPracticeExist" class="custom-checkbox">
                                                <span style="font-size: 16px; color:forestgreen;"> <i
                                                        class="fas fa-check"></i></span>
                                            </div>

                                            <div *ngIf="!row.IsPracticeExist" class="custom-checkbox">
                                                <span (click)="showClick(row.Id, 3)" style="font-size: 16px; color:red;"> <i
                                                        class="fas fa-exclamation-triangle"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                   
                                    <td class="text-center">
                                        <div>
                                            <div *ngIf="row.IsManualExist" class="custom-checkbox">
                                                <span style="font-size: 16px; color:forestgreen;"> <i
                                                        class="fas fa-check"></i></span>
                                            </div>

                                            <div *ngIf="!row.IsManualExist" class="custom-checkbox">
                                                <span (click)="showClick(row.Id, 2)" style="font-size: 16px; color:red;"> <i
                                                        class="fas fa-exclamation-triangle"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div *ngIf="row.IsManualMaintenance" class="custom-checkbox">
                                            <span style="font-size: 16px; color:forestgreen;"> <i
                                                    class="fas fa-check"></i></span>
                                        </div>

                                        <div *ngIf="!row.IsManualMaintenance" class="custom-checkbox">
                                            <span (click)="showClick(row.Id, 4)" style="font-size: 16px; color:red;"> <i
                                                    class="fas fa-exclamation-triangle"></i></span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div *ngIf="row.IsCatalog">
                                            <span style="font-size: 16px; color:forestgreen;"> <i
                                                    class="fas fa-check"></i></span>
                                        </div>

                                        <div *ngIf="!row.IsCatalog">
                                            <span type="button" (click)="showClick(row.Id, 1)" style="font-size: 16px; color:red;"> <i
                                                    class="fas fa-exclamation-triangle"></i></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="listData.length == 0">
                                <tr class="bold">
                                    <td colspan="14" min-width="300px" class="text-center"
                                        style="height: 300px; font-size: 20px;">Không có dữ liệu</td>
                                </tr>
                            </tfoot>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4  d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="modelProduct.PageSize"
                            (ngModelChange)="searchProductNeedPublications()" name="pageSize">
                            <option *ngFor="let item of lstpageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label " style="padding: 4px;">bản ghi/Trang</label>
                </div>

                <div class="col-md-8  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="modelProduct.TotalItems" [(page)]="modelProduct.PageNumber"
                        (pageChange)="searchProductNeedPublications()" [pageSize]="modelProduct.PageSize" [maxSize]="5"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-view btn-warning">
                        <i class="fa fa-edit"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Sửa dự án</small>
                    <span style="font-size: 16px; color:forestgreen;"> <i
                        class="fas fa-check"></i></span>&nbsp;
                    <small class="padding-right-20">Đủ tài liệu</small>
                    <span style="font-size: 16px; color:red;"> <i class="fas fa-exclamation-triangle"></i></span>&nbsp;
                    <small class="padding-right-20">Thiếu tài liệu</small>
                </div>
            </div>
        </div>
        <div class="content-body ">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
                    <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                        <table class="table table-bordered" style="min-width:1000px">
                            <thead>
                                <tr>
                                    <th width="50px" class="text-center">STT</th>
                                    <th width="120px" class="text-center">Mã dự án</th>
                                    <th min-width="180px" class="text-center">Tên dự án</th>
                                    <th width="100px" class="text-center">Ngày Kickoff</th>
                                    <th width="120px" class="text-center">HD thực hành</th>
                                    <th width="120px" class="text-center">HD sử dụng</th>
                                    <th width="120px" class="text-center">HD bảo trì</th>
                                    <th width="120px" class="text-center">Catalog</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listDA; let i = index">
                                    <td class="text-center">{{i +1}}</td>
                                    
                                    <td class="text-center" [ngbTooltip]="row.Code" container="body">{{row.Code}}</td>
                                    <td [ngbTooltip]="row.Name" container="body">{{row.Name}}</td>
                                   
                                    <td class="text-center">{{row.KickOffDate|date:'dd/MM/yyyy'}}</td>

                                    <td class="text-center">
                                        <div>
                                            <div *ngIf="row.IsPracticeExist" class="custom-checkbox">
                                                <span style="font-size: 16px; color:forestgreen;"> <i
                                                        class="fas fa-check"></i></span>
                                            </div>

                                        </div>
                                    </td>
                                   
                                    <td class="text-center">
                                        <div>
                                            <div *ngIf="row.IsManualExist" class="custom-checkbox">
                                                <span style="font-size: 16px; color:forestgreen;"> <i
                                                        class="fas fa-check"></i></span>
                                            </div>

                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div *ngIf="row.IsManualMaintenance" class="custom-checkbox">
                                            <span style="font-size: 16px; color:forestgreen;"> <i
                                                    class="fas fa-check"></i></span>
                                        </div>

                                    </td>
                                    <td class="text-center">
                                        <div *ngIf="row.IsCatalog">
                                            <span style="font-size: 16px; color:forestgreen;"> <i
                                                    class="fas fa-check"></i></span>
                                        </div>

                                    </td>
                                  
                                </tr>
                            </tbody>
                            <tfoot *ngIf="listDA.length == 0">
                                <tr class="bold">
                                    <td colspan="16" min-width="300px" class="text-center"
                                        style="height: 300px; font-size: 20px;">Không có dữ liệu</td>
                                </tr>
                            </tfoot>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <br>
            <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
                            (ngModelChange)="searchProjectNeedPublications()" name="pageSize">
                            <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label " style="padding:4px;">bản ghi/Trang</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="model.totalItems" [(page)]="model.PageNumber"
                        (pageChange)="searchProjectNeedPublications()" [pageSize]="model.PageSize" [maxSize]="5" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div> -->
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <span style="font-size: 16px; color:forestgreen;"> <i
                        class="fas fa-check"></i></span>&nbsp;
                    <small class="padding-right-20">Cần ấn phẩm</small>&nbsp;
                    <small class="padding-right-20">Không hiển thị = Không cần ấn phẩm</small>
                </div>
            </div>
        </div>
    </section>
</div>