<div class="modal-all">
  <div class="modal-header">
    <h3 class="modal-title text-danger text-uppercase">Chọn Template</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body padding-10">
    <form name="outerForm" class="tab-form-demo">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="form-label">Tên file</label>
            <div class="controls">
              <input type="text" class="form-control" name="Nameemployee" [(ngModel)]="model.Name">
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="form-label">Mô tả</label>
            <div class="controls">
              <input type="text" class="form-control" name="Description" [(ngModel)]="model.Description">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-right">
          <label class="form-label"></label>
          <div class="form-group">
            <button class="btn btn-success btn-success-system" (click)="searchConfigScanFile()">
              <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
            <button class="btn btn-default btn-default-system" (click)="clear()">
              <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
            <table class="table table-bordered table-fixed" style="word-wrap: break-word; min-width:600px">
              <thead>
                <tr>
                  <th class="test-center" width="60px">Chọn</th>
                  <th width="100px" class="text-center">Xử lý</th>
                  <th width="200px" class="text-center">Tên file</th>
                  <th min-width="400px" class="text-center">Mô tả</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listData; let j = index">
                  <td style="text-align:center">
                    <input type="checkbox" [(ngModel)]="row.Checked" name="{{'Choose_Checked_'+row.Name+j}}"
                      style="height:20px; width:20px;">
                  </td>
                  <td class="text-center">
                    <button type="button" (click)='showCreateUpdateConfigScanFile(row.Id)'
                      class="btn btn-xs btn-warning" placement="top" ngbTooltip="Cập nhật" container="body">
                      <span class="fa fa-edit" aria-hidden="true"></span>
                    </button>&nbsp;
                    <button class="btn btn-xs btn-danger" (click)="showConfirmDeleteConfigScanFile(row.Id)"
                      placement="top" ngbTooltip="Xóa" container="body">
                      <span class="fas fa-times" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>{{row.Name}}</td>
                  <td>{{row.Description}}</td>
                </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="chooseConfigScanFile()">
      <i class="fa fa-save"></i>&nbsp;
      <span>Đổi</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
      <i class="fa fa-power-off"></i> &nbsp;
      <span>
        Đóng
      </span>
    </button>
  </div>
</div>