<div class="content-wrapper">
  <form name="form" class="tab-form-demo" #f="ngForm" novalidate>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Thông tin chung</a>
        <ng-template ngbNavContent>
          <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="form-group ">
                <label class="form-label">Mã phòng học/line sản xuất
                  <span class='text-danger text-strong'>&nbsp;*</span>
                </label>
                <div class="controls">
                  <input [disUipermission]="['F050301','F050302']" type="text" class="form-control"
                    [(ngModel)]="model.Code" name="Code" maxlength="50" required>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="form-group ">
                <label class="form-label">Tên phòng học/line sản xuất
                  <span class='text-danger text-strong'>&nbsp;*</span>
                </label>
                <div class="controls">
                  <input [disUipermission]="['F050301','F050302']" type="text" class="form-control"
                    [(ngModel)]="model.Name" name="Name" maxlength="300" required>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="form-group ">
                <label class="form-label">Loại phòng học/line sản xuất
                  <span class='text-danger text-strong'>&nbsp;*</span>
                </label>
                <nts-drop-down-tree [disUipermission]="['F050301','F050302']" [items]="ListRoomType"
                  [columns]="columnName" ntsParentId="ParentId" ntsValue="Id" ntsLabel="Code" ntsMode="single"
                  ntsAutoClose="true" [(ngModel)]="model.RoomTypeId" name="Id" required></nts-drop-down-tree>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="form-group ">
                <label class="form-label">Địa chỉ phòng học/line sản xuất
                  <span class='text-danger text-strong'></span>
                </label>
                <div class="controls">
                  <input [disUipermission]="['F050301','F050302']" type="text" class="form-control"
                    [(ngModel)]="model.Address" name="Address" maxlength="300">
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="form-group ">
                <label class="form-label">Giá
                  <span class='text-danger text-strong'></span>
                </label>
                <div class="controls">
                  <input disabled type="text" class="form-control" name="pricing"
                    value="{{model.Pricing|number:'1.0-0'}}">
                </div>
              </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="form-group ">
                <label class="form-label">Mô tả
                  <span class='text-danger text-strong'></span>
                </label>
                <div class="controls">
                  <div class="input-group">
                    <textarea rows="10" [disUipermission]="['F050301','F050302']" class="form-control"
                      [(ngModel)]="model.Description" name="Description"></textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--Tài liệu đính kèm-->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
              <h4>Tài liệu đính kèm</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
              <button *appUipermission="['F050301','F050302']" class="btn btn-success btn-upload"
                (click)="fileInput.click();">
                <i class="fas fa-arrow-up"> &nbsp;</i>Upload
              </button>
              <input name="file" style="display: none;" type="file" id="fileInput" #fileInput
                (change)="uploadFileClick($event)" multiple />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                <table class="table table-bordered table-fixed" style="min-width:430px">
                  <thead>
                    <tr>
                      <th width="40px" class="text-center">STT</th>
                      <th width="80px" class="text-center">Xử lý </th>
                      <th min-width="180px" class="text-center">Tên File </th>
                      <th width="130px" class="text-center">Dung lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of ListFile; let i = index">
                      <td class="text-center">{{StartIndex+i}}</td>
                      <td class="text-center">
                        <ng-container *appUipermission="['F050301','F050302']">
                          <button type="button" class="btn btn-xs btn-danger" ngbTooltip="Xóa"
                            (click)="showConfirmDeleteFile(i)">
                            <span class="fas fa-times" aria-hidden="true"></span>
                          </button>
                        </ng-container>&nbsp;
                        <ng-container *ngIf="row.Path!=null && row.Path!=''">
                          <button *appUipermission="['F050302']" style="background-color: papayawhip" class="btn btn-xs"
                            (click)="DownloadAFile(row)">
                            <span class="fa fa-download" aria-hidden="true"></span>
                          </button>
                        </ng-container>

                      </td>
                      <td>
                        <span *ngIf="row.Id==null">{{row.name}}</span>
                        <span *ngIf="row.Id!=null">{{row.FileName}}</span>
                      </td>
                      <td class="text-center">
                        <span *ngIf="row.Id==null">{{row.size/ (1024*1024)| number: '1.1-3'}} MB</span>
                        <span *ngIf="row.Id!=null">{{row.FileSize / (1024*1024)| number: '1.1-3'}} MB</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </perfect-scrollbar>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" [disabled]="permissionService.checkPermission(['F050311'])">
        <a ngbNavLink>Chi tiết</a>
        <ng-template ngbNavContent>
          <form name="form">

            <!--Chọn bài thực hành-->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                <h4>Danh sách bài thực hành</h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-default btn-default-system" (click)="getClassRoomInfo()">
                  <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>&nbsp;
                <button class="btn btn-success btn-upload" (click)="showSelectPractice()">
                  <i class="fas fa-plus"> &nbsp;</i>Chọn bài thực hành
                </button>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                  <table class="table table-bordered table-fixed" style="min-width:710px">
                    <thead>
                      <tr>
                        <th width="40px" class="text-center">STT</th>
                        <th width="80px" class="text-center">Xử lý </th>
                        <th width="150px" class="text-center">Mã bài thực hành</th>
                        <th min-width="200px" class="text-center">Tên bài thực hành</th>
                        <th width="150px" class="text-center">Nhóm bài thực hành</th>
                        <th width="80px" class="text-center">Giá</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of ListPractice; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                          <button *appUipermission="['F050310']" type="button" (click)="showConfirmDeletePractice(row)"
                            class="btn  btn-xs btn-danger" ngbTooltip="Xóa" container="body">
                            <span class="fas fa-times" aria-hidden="true"></span>
                          </button>
                        </td>
                        <td>{{row.Code}}</td>
                        <td>{{row.Name}}</td>
                        <td>{{row.PracticeGroupName}}</td>
                        <td class="text-right">{{row.TotalPrice|number:'1.0-0'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </div>

            <!--Chọn thiết bị-->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                <h4>Danh sách thiết bị</h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-default btn-default-system" (click)="getClassRoomInfo()">
                  <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>&nbsp;
                <button class="btn btn-success btn-upload" (click)="SelectProduct()">
                  <i class="fas fa-plus"> &nbsp;</i>Chọn thiết bị
                </button>
              </div>
            </div>
            <div class="row  mt-1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                  <table class="table table-bordered table-fixed" style="min-width:970px">
                    <thead>
                      <tr>
                        <th width="40px" class="text-center">STT</th>
                        <th width="80px" class="text-center">Xử lý </th>
                        <th width="150px" class="text-center">Mã thiết bị</th>
                        <th min-width="200px" class="text-center">Tên thiết bị</th>
                        <th width="150px" class="text-center">Nhóm thiết bị</th>
                        <th width="150px" class="text-center">Số lượng</th>
                        <th width="80px" class="text-center">Giá</th>
                        <th width="120px" class="text-center">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of ListProduct; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                          <button *appUipermission="['F050310']" type="button" (click)="showConfirmDeleteProducts(row)"
                            class="btn  btn-xs btn-danger" ngbTooltip="Xóa" container="body">
                            <span class="fas fa-times" aria-hidden="true"></span>
                          </button>
                        </td>
                        <td>{{row.Code}}</td>
                        <td>{{row.Name}}</td>
                        <td>{{row.PracticeGroupName}}</td>
                        <td class="text-center"> <input type="text" ntsNumberInt [(ngModel)]="row.Quantity"
                            class="form-control" [name]="'Quantity'+i"></td>
                        <td class="text-right">{{row.Pricing|number:'1.0-0'}}</td>
                        <td class="text-right">{{row.Pricing * row.Quantity|number:'1.0-0'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </div>

            <!--Chọn module-->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                <h4>Danh sách module</h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-default btn-default-system" (click)="getClassRoomInfo()">
                  <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>&nbsp;
                <button class="btn btn-success btn-upload" (click)="SelectModule()">
                  <i class="fas fa-plus"> &nbsp;</i>Chọn module
                </button>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                  <table class="table table-bordered table-fixed" style="min-width:850px">
                    <thead>
                      <tr>
                        <th width="40px" class="text-center">STT</th>
                        <th width="80px" class="text-center">Xử lý </th>
                        <th width="150px" class="text-center">Mã module</th>
                        <th min-width="200px" class="text-center">Tên module</th>
                        <th width="150px" class="text-center">Nhóm module</th>
                        <th width="150px" class="text-center">Số lượng</th>
                        <th width="80px" class="text-center">Giá</th>
                        <th width="120px" class="text-center">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of ListModule; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                          <button *appUipermission="['F050310']" type="button" (click)="showConfirmDeleteModules(row)"
                            class="btn  btn-xs btn-danger" ngbTooltip="Xóa" container="body">
                            <span class="fas fa-times" aria-hidden="true"></span>
                          </button>
                        </td>
                        <td>{{row.Code}}</td>
                        <td>{{row.Name}}</td>
                        <td>{{row.ModuleGroupName}}</td>
                        <td class="text-center"> <input type="text" ntsNumberInt [(ngModel)]="row.Quantity"
                            class="form-control" [name]="'Quantity'+i"></td>
                        <td class="text-right">{{row.Pricing|number:'1.0-0'}}</td>
                        <td class="text-right">{{row.Pricing * row.Quantity|number:'1.0-0'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </div>

            <!--Vật tư phụ-->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                <h4>Danh mục vật tư</h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">

                <button class="btn btn-default btn-default-system" (click)="getClassRoomInfo()">
                  <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>&nbsp;

                <button *appUipermission="['F050309']" type=" button" class="btn btn-success"
                  (click)="showSelectMaterial()">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                  Chọn vật tư
                </button>&nbsp;

                <button *appUipermission="['F050309']" type=" button" class="btn btn-success"
                  (click)="showSelectModule()">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                  Chọn module
                </button>&nbsp;


                <button *appUipermission="['F050309']" type=" button" class="btn btn-success"
                  (click)="showSelectProduct()">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                  Chọn thiết bị
                </button>
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                  <table class="table table-bordered table-fixed table-hover" style="min-width:870px">
                    <thead>
                      <tr>
                        <th width="40px" class="text-center">STT</th>
                        <th width="80px" class="text-center">Xử lý </th>
                        <th width="250px" class="text-center">Mã vật tư </th>
                        <th min-width="200px" class="text-center">Tên vật tư</th>
                        <th width="100px" class="text-center">Số lượng</th>
                        <th width="80px" class="text-center">Giá</th>
                        <th width="120px" class="text-center">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of listData; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                          <button *appUipermission="['F050310']" type="button" (click)="showConfirmDeleteMaterial(row)"
                            class="btn  btn-xs btn-danger" ngbTooltip="Xóa" container="body">
                            <span class="fas fa-times" aria-hidden="true"></span>
                          </button>
                        </td>
                        <td>{{row.Code}}</td>
                        <td>{{row.Name}}</td>
                        <td class="text-center">
                          <input type="text" [(ngModel)]="row.Quantity" class="form-control" ntsNumberInt
                            [name]="'Quantity'+i">
                        </td>
                        <td class="text-right">{{row.Pricing | number:'1.0-0'}}</td>
                        <td class="text-right">{{row.Pricing * row.Quantity| number:'1.0-0'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </div>
          </form>
        </ng-template>
      </li>
      <li [ngbNavItem]="'tab-design-document'" [disabled]="model.Id=='' || model.Id==null">
        <a ngbNavLink>Tài liệu thiết kế</a>
        <ng-template ngbNavContent>
          <app-class-room-design-document [Id]="model.Id"></app-class-room-design-document>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>
    <section class="box">
      <div class="content-body  padding-15 text-right">
        <ng-container>
          <button *appUipermission="['F050309']" type="button" class="btn btn-success" (click)="save(false)"
            [disabled]="!f.form.valid">
            <i class="fa fa-save"></i>&nbsp;
            <span>Lưu</span>
          </button>
        </ng-container>&nbsp;
        <ng-container *ngIf="Id===''">
          <button *appUipermission="['F050309']" type="button" class="btn btn-success" (click)="saveAndContinue()"
            [disabled]="!f.form.valid">
            <i class="fa fa-save"></i>&nbsp;
            <span>Lưu & tiếp tục</span>
          </button>&nbsp;
        </ng-container>
        <ng-container>
          <button type="button" class="btn btn-danger" (click)="closeModal(false)">
            <i class="fa fa-power-off"></i>
            <span>
              Đóng
            </span>
          </button>
        </ng-container>
      </div>
    </section>
  </form>
</div>