<div class="modal-header">
    <h4 class="modal-title text-uppercase text-danger">{{ModalInfo.Title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form name="form" class="tab-form-demo" #f="ngForm" novalidate>
    <div class="modal-body padding-15">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                    <table class="table table-bordered" style="min-width:900px">
                        <thead>
                            <tr>
                                <th width="50px" class="text-center">STT</th>
                                <th width="100px" class="text-center">Mã dự án</th>
                                <th width="500px" class="text-center">Tên dự án</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of listData; let i = index">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-center">{{row.Code}}</td>
                                <td class="text-center">{{row.Name}}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="listData.length == 0">
                            <tr class="bold">
                                <td colspan="13" min-width="1700px" class="text-center"
                                    style="height: 300px; font-size: 20px;">Không
                                    có dữ liệu</td>
                            </tr>
                        </tfoot>
                    </table>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</form>

<!-- Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            Đóng
        </span>
    </button>
</div>