app-module-material-tab {

    .btn.btn-danger {
        background: #ffc107;
        color: #ca703c30;
    }
    .Parent-class {
        text-align: right;
    }
    .Child-class {
        text-align: left;
    }
}
