<div class="modal-header">
  <h4 class="modal-title text-uppercase text-danger">{{modalInfo.Title}}</h4>
  <button style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body padding-15">
  <form name="form" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Mã biểu mẫu<span class='text-danger text-strong'>&nbsp;*</span></label>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="model.Code" name="Code" maxlength="50" required>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Tên file<span class='text-danger text-strong'>&nbsp;*</span></label>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="model.Name" name="Name" required>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Thư mục chứa<span class='text-danger text-strong'>&nbsp;*</span></label>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="model.PathFolderC" name="PathFolderC" required>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label class="form-label">Mô tả</label>
          <div class="controls">
            <textarea [(ngModel)]="model.Description" name="Descriptioncustomertype" rows="5"
              class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label class="form-label">Kiểu biểu mẫu</label>
          <div class="controls">
            <select name="Type" disabled class="form-control" [(ngModel)]="model.Type">
              <option *ngFor="let item of listType" [ngValue]="item.Id">{{item.Name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <ng-container>
    <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)">
      <i class="fa fa-save"></i>&nbsp;
      <span>{{modalInfo.SaveText}}</span>
    </button>
  </ng-container>
  <ng-container *ngIf="Id===''">
    <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="saveAndContinue()">
      <i class="fa fa-save"></i>&nbsp;
      <span>Lưu & Tiếp tục</span>
    </button>
  </ng-container>
  <button type="button" class="btn btn-danger" (click)="closeModal(false)">
    <i class="fa fa-power-off"></i> &nbsp;
    <span>
      Đóng
    </span>
  </button>
</div>