<div class="modal-all">
  <div class="modal-header">
    <h3 class="modal-title text-danger text-uppercase">Chọn vật tư</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body padding-10">
    <form name="outerForm" class="tab-form-demo">
      <div class="row">
        <div class="col-lg-8">
          <nts-search-bar [options]="searchOptions" [(ngModel)]="modelSearch" name="modelSearch"
            (change)="searchMaterial()">
          </nts-search-bar>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-right">
          <button class="btn btn-success btn-success-system" (click)="searchMaterial()">
            <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
          <button class="btn btn-default btn-default-system" (click)="clear()">
            <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 text-left">
          <label class="form-label" style="line-height:35px;">Tổng số
            <span class="bold text-danger">{{listData.length}}</span> vật tư chưa chọn</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <virtual-scroller #scroll [items]="listData" style=" display: block;height: 250px;">
            <table class="table table-bordered table-fixed table-hover"
              style="word-wrap: break-word; margin-bottom:0px !important;min-width: 1290px;">
              <thead #header style="background-color: white">
                <tr>
                  <th class="text-center" style="text-align:center" width="50">Chọn</th>
                  <th class="text-center" width="40px">STT</th>
                  <th class="text-center" width="200px">Tên vật tư</th>
                  <th class="text-center" width="150px">Vật liệu</th>
                  <th class="text-center" width="150px">Mã vật tư</th>
                  <th class="text-center" width="100px">Đơn vị</th>
                  <th class="text-center" width="150px">Thời gian giao hàng</th>
                  <th class="text-center" width="150px">Hãng sản xuất</th>
                  <th class="text-center" width="150px">Đơn giá</th>
                  <th class="text-center" width="150px">Mô tả</th>
                </tr>
              </thead>

              <tbody #container>
                <tr *ngFor="let row of scroll.viewPortItems; let i = index">
                  <td style="text-align:center" width="50px">
                    <input type="checkbox" [(ngModel)]="row.Checked" [name]="'Checked'+row.MaterialName+i"
                      style="height:20px; width:20px;">
                  </td>
                  <td class="text-center" width="40px">{{row.Index}}</td>
                  <td style="min-width: 200px">{{row.MaterialName}}</td>
                  <td width="150px">{{row.RawMaterialName}}</td>
                  <td width="150px">{{row.MaterialCode}}</td>
                  <td width="100px">{{row.UnitName}}</td>
                  <!-- //<td width="50px">{{row.Quantity}}</td> -->
                  <td class="text-right" width="150px">{{row.DeliveryDays}}</td>
                  <td width="150px">{{row.ManufacturerName}}</td>
                  <td class="text-right" width="150px">{{row.Pricing  | number:'1.0-0'}}</td>
                  <td width="150px">{{row.Note}}</td>
                </tr>
              </tbody>
            </table>
          </virtual-scroller>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-12 text-left">
          <label class="form-label" style="line-height:35px;">Tổng số
            <span class="bold text-danger">{{listSelect.length}}</span> vật tư đã chọn</label>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 margin-bottom-5 text-center">
          <button type="button" ngbTooltip="Chọn vật tư" class="btn btn-success" (click)="addRow()">
            <i class="fa fa-arrow-down"></i>
          </button>&nbsp;
          <button type="button" ngbTooltip="Bỏ chọn vật tư" class="btn btn-danger" (click)="removeRow()">
            <i class="fa fa-arrow-up"></i>
          </button>
        </div>
      </div>
      <!-- 
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
            <table class="table table-bordered table-fixed" style="word-wrap: break-word; min-width:1540px">
              <thead>
                <tr>
                  <th class="text-center" style="text-align:center" width="50px">Chọn</th>
                  <th class="text-center" width="40px">STT</th>
                  <th class="text-center" width="200px">Tên vật tư</th>
                  <th class="text-center" width="150px">Vật liệu</th>
                  <th class="text-center" width="150px">Mã vật tư</th>
                  <th class="text-center" width="100px">Đơn vị</th>
                  <th class="text-center" width="100px">Số lượng</th>
                  <th class="text-center" width="150px">Thời gian giao hàng</th>
                  <th class="text-center" width="150px">Hãng sản xuất</th>
                  <th class="text-center" width="150px">Đơn giá</th>
                  <th class="text-center" width="150px">Thành tiền</th>
                  <th class="text-center" width="150px">Mô tả</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listSelect; let j = index">
                  <td style="text-align:center" width="50px">
                    <input type="checkbox" [(ngModel)]="row.Checked" name="{{'Choose_Checked_'+row.Name+j}}"
                    style="height:20px; width:20px;">
                  </td>
                  <td class="text-center" width="40px">{{j+1}}</td>
                  <td style="min-width: 200px">{{row.MaterialName}}</td>
                  <td width="150px">{{row.RawMaterialName}}</td>
                  <td width="150px">{{row.MaterialCode}}</td>
                  <td width="100px">{{row.UnitName}}</td>
                  <td class="text-right" width="50px">
                    <input ntsNumberInt type="text" [(ngModel)]="row.Quantity" class="form-control" [name]="'Quantity'+j+1">
                  </td>
                  <td class="text-right" width="150px">{{row.DeliveryDays}}</td>
                  <td width="150px">{{row.ManufacturerName}}</td>
                  <td class="text-right" width="150px">{{row.Pricing | number}}</td>
                  <td class="text-right" width="150px">{{row.Quantity * row.Pricing | number}} </td>
                  <td width="150px">{{row.Note}}</td>
                </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <virtual-scroller #scrolll [items]="listSelect" style=" display: block;height: 250px;">
            <table class="table table-bordered table-fixed table-hover"
              style="word-wrap: break-word; margin-bottom:0px !important;min-width: 1010px;">
              <thead #header style="background-color: white">
                <tr>
                  <th class="text-center" style="text-align:center" width="50px">Chọn</th>
                  <th class="text-center" width="40px">STT</th>
                  <th class="text-center" width="200px">Tên vật tư</th>
                  <th class="text-center" width="150px">Vật liệu</th>
                  <th class="text-center" width="150px">Mã vật tư</th>
                  <th class="text-center" width="100px">Đơn vị</th>
                  <th class="text-center" width="100px">Số lượng</th>
                  <th class="text-center" width="150px">Thời gian giao hàng</th>
                  <th class="text-center" width="150px">Hãng sản xuất</th>
                  <th class="text-center" width="150px">Đơn giá</th>
                  <th class="text-center" width="150px">Thành tiền</th>
                  <th class="text-center" width="150px">Mô tả</th>
                </tr>
              </thead>
              <tbody #container>
                <tr *ngFor="let row of listSelect; let j = index">
                  <td style="text-align:center" width="50px">
                    <input type="checkbox" [(ngModel)]="row.Checked" name="{{'Choose_Checked_'+row.MaterialName+j}}"
                      style="height:20px; width:20px;">
                  </td>
                  <td class="text-center" width="40px">{{j+1}}</td>
                  <td style="min-width: 200px">{{row.MaterialName}}</td>
                  <td width="150px">{{row.RawMaterialName}}</td>
                  <td width="150px">{{row.MaterialCode}}</td>
                  <td width="100px">{{row.UnitName}}</td>
                  <td class="text-right" width="50px">
                    <input ntsNumberInt type="text" [(ngModel)]="row.Quantity" class="form-control"
                      [name]="'Quantity'+j+1">
                  </td>
                  <!-- //<td width="50px">{{row.Quantity}}</td> -->
                  <td class="text-right" width="150px">{{row.DeliveryDays}}</td>
                  <td width="150px">{{row.ManufacturerName}}</td>
                  <td class="text-right" width="150px">{{row.Pricing | number:'1.0-0'}}</td>
                  <td class="text-right" width="150px">{{row.Quantity * row.Pricing | number:'1.0-0'}} </td>
                  <td width="150px">{{row.Note}}</td>
                </tr>
              </tbody>
            </table>
          </virtual-scroller>
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="choose()">
      <i class="fa fa-check"></i>&nbsp;
      <span>chọn</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
      <i class="fa fa-power-off"></i> &nbsp;
      <span>
        Đóng
      </span>
    </button>
  </div>
</div>