<div class="modal-header">
    <h4 class="modal-title text-uppercase text-danger">{{ModalInfo.Title}}</h4>
    <button style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body padding-15">
    <form name="form" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group ">
                    <label class="form-label">Mã nhóm tiêu chuẩn sản phẩm
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="model.Code" name="Codeproductstandardgroup"
                            maxlength="100" required [disUipermission]="['F020402','F020401']">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group ">
                    <label class="form-label">Tên nhóm tiêu chuẩn sản phẩm
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="model.Name" name="Nameproductstandardgroup"
                            maxlength="200" required [disUipermission]="['F020402','F020401']">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label class="form-label">Ghi chú
                        <span class='text-danger text-strong'>&nbsp;</span>
                    </label>
                    <div class="controls">
                        <textarea [(ngModel)]="model.Note" name="Noteproductstandardgroup" rows="5" class="form-control"
                            [maxLength]="300" [radUipermission]="['F020402','F020401']"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <ng-container>
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)"
            *appUipermission="['F020401','F020402']">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{ModalInfo.SaveText}}</span>
        </button>
    </ng-container>
    <ng-container *ngIf="Id===''">
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="saveAndContinue()"
            *appUipermission="['F020401']">
            <i class="fa fa-save"></i>&nbsp;
            <span>Lưu & Tiếp tục</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            Đóng
        </span>
    </button>
</div>