<div class='content-wrapper'>
  <section class="box">
    <div class="content-body pb-0">
      <form name="searchForm" #f="ngForm">
        <div class="row">
          <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <nts-search-bar [(options)]="searchOptions" [(ngModel)]="model" name="model" (change)="searchQuotation()">
            </nts-search-bar>
          </div>
          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 text-right">
            <button class="btn btn-success btn-success-system" (click)="searchQuotation()">
              <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp;
            <button class="btn btn-default btn-default-system" (click)="clear()">
              <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
          </div>
        </div>
      </form>
    </div>
    <div class="content-body pb-0">
      <div class="row margin-bottom-10">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 paddingcreate text-left">
          <label class="form-label" style="line-height:35px;">&nbsp;&nbsp;Tổng số
            <span class="bold text-danger">{{model.totalItems}}</span> báo giá</label>
        </div>
        <div class="col-xl-9 col-lg-12 col-md-12 text-right">
          <a type="button" class="btn btn-success" [routerLink]="['/giai-phap/tong-hop-bao-gia/them-moi']"
            container="body">
            <i class="fa fa-plus"></i>
            Thêm mới
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
          <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
            <table class="table table-bordered" style="min-width:2850px">
              <thead>
                <tr>
                  <th width="40px" class="text-center">STT</th>
                  <th width="100px" class="text-center">Xử lý</th>
                  <th width="100px" class="text-center ">Trạng thái BG</th>
                  <th min-width="200px" class="text-center ">Tiến trình báo giá</th>
                  <th width="80px" class="text-center">Số YCGP</th>
                  <th width="100px" class="text-center">Số BG</th>
                  <th width="100px" class="text-center">Giá trị BG</th>
                  <th width="100px" class="text-center">Giá trị dự kiến mua</th>
                  <th width="100px" class="text-center ">Tỷ lệ thành công</th>
                  <th width="200px" class="text-center">NV phụ trách BG</th>
                  <th width="200px" class="text-center">Phòng phụ trách BG</th>
                  <th width="250px" class="text-center">Tên khách hàng</th>
                  <th width="200px" class="text-center">Loại KH</th>
                  <th width="200px" class="text-center">Ngành nghề SX</th>
                  <th width="150px" class="text-center">Tỉnh/ TP</th>
                  <th width="100px" class="text-center">Thời gian triển khai</th>
                  <th width="100px" class="text-center">Tỷ lệ tạm ứng</th>
                  <th width="200px" class="text-center">SBU</th>
                  <th width="200px" class="text-center">Người nhận BG</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listData; let i = index" (click)="selectQuotes(row.QuotationId, i);"
                  [ngClass]="{'selected':selectIndex == i}">
                  <td class="text-center" width="40px">{{startIndex+i}}</td>
                  <td class="text-center" width="100px">
                    <a type="button" (click)="showUpdate(row.QuotationId)" class="btn btn-xs btn-warning"
                      placement="top" ngbTooltip="Cập nhật" container="body">
                      <span class="fa fa-edit" aria-hidden="true"></span>
                    </a> 
                    <button [disabled]="row.QuotationStatus == 1" style="margin-left: 3px;" class="btn btn-xs btn-danger" (click)="showConfirmDelete(row.QuotationId)"
                      placement="bottom" ngbTooltip="Xóa" container="body">
                      <span class="fas fa-times" aria-hidden="true"></span>
                    </button>
                    <button style="margin-left: 3px;" class="btn btn-xs btn-success" (click)="exportExcel(row.QuotationId)"
                      placement="bottom" ngbTooltip="Xuất báo giá" container="body">
                      <i class="fa fa-file-excel" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td class="text-center" width="100px">
                    <span class="badge badge-danger" style="margin-top: 13px" *ngIf="row.QuotationStatus == 0">Chưa
                      chốt</span>
                    <span class="badge badge-success" style="margin-top: 13px" *ngIf="row.QuotationStatus == 1">Đã
                      chốt</span>
                  </td>
                  <td class="text-center" min-width="200px">
                    <div class="sw sw-arrows sw-sm">
                      <ul class="nav-step">
                        <li [ngbTooltip]="item.Name" container="body" class="nav-item" *ngFor="let item of row.ListQuotationStep; let j = index;">
                          <a class="nav-link process-text" [ngClass]="{'color-data-1':item.Status == 1, 'color-data-2':item.Status == 2, 'color-data-3':item.Status == 3, 'color-data-4':item.Status == 4}">
                            <span >{{j+1}}</span>
                          </a>
                        </li>
                      </ul>
                          <span *ngFor="let item of row.ListStatusQuotationProcess">
                            <span class="bold">{{item.TotalWork}}</span> / <span class="bold" style="color: #007bff">{{item.WorkInProgress}}</span> / <span class="bold text-danger">{{item.WorkLate}}</span>
                          </span>
                    </div>
                  </td>
                  <td class="text-center" width="80px">{{row.Code}}</td>
                  <td width="100px">
                    <span><b>{{row.NumberQuotation}}</b></span><br>
                    <span><small>{{row.QuotationDate|date:'dd/MM/yyyy'}}</small></span>
                  </td>
                  <td class="text-right" width="100px">{{row.QuotationPrice|number:'1.0-0'}}</td>
                  <td class="text-right" width="100px">{{row.ExpectedPrice|number:'1.0-0'}}</td>
                  <td class="text-center" width="100px">{{row.SuccessRate}}%</td>
                  <td width="200px">{{row.PetitionerName}}</td>
                  <td width="200px">{{row.DepartmentRequestName}}</td>
                  <td width="250px">
                    <span style="cursor: pointer;" cssClass="plan-header-cell" title="{{row.CustomerName}}"><b>{{row.CustomerName}}</b></span><br>
                    <span><small>{{row.CustomerCode}}</small></span>
                  </td>
                  <td width="200px">{{row.CustomerType}}</td>
                  <td width="200px">{{row.JobName}}</td>
                  <td width="150px">{{row.Province}}</td>
                  <td class="text-center" width="100px">{{row.ImplementationDate|date:'dd/MM/yyyy'}}</td>
                  <td class="text-center" width="100px">{{row.AdvanceRate}}%</td>
                  <td width="200px">{{row.SBUName}}</td>
                  <td width="200px">{{row.RecieverName}}</td>
                </tr>
              </tbody>
              <tfoot *ngIf="listData.length == 0">
                <tr class="bold">
                  <td colspan="16" min-width="300px" class="text-center" style="height: 300px; font-size: 20px;">Không
                    có dữ liệu</td>
                </tr>
              </tfoot>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
          <div class="controls ">
            <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
              (ngModelChange)="searchQuotation()" name="pageSize">
              <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
            </select>
          </div>
          <label class="form-label " style="padding:4px;">bản ghi/Trang</label>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
          <ngb-pagination [collectionSize]="model.totalItems" [(page)]="model.PageNumber"
            (pageChange)="searchQuotation()" [pageSize]="model.PageSize" [maxSize]="5" [rotate]="true"
            [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
    <div class="content-body pb-0">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 paddingcreate text-left">
          <label class="form-label" style="line-height:35px;">&nbsp;&nbsp;Công việc chưa hoàn thành của báo giá
            <span class="bold text-danger">{{ModalInfo.Title}}</span></label>
        </div>

        <div class="col-md-12 col-sm-12 col-lg-12">
          <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
            <table class="table table-bordered" style="min-width:1430px">
              <thead>
                <tr>
                  <th width="50px" class="text-center"></th>
                  <th width="250px" class="text-center">Công việc</th>
                  <th width="200px" class="text-center">Người thực hiện</th>
                  <th width="100px" class="text-center">Ngày dự kiến hoàn thành</th>
                  <th Width="100px" class="text-center">Ngày thực tế hoàn thành</th>
                  <th width="150px" class="text-center">Trạng thái</th>
                  <th width="250px" class="text-center">Phòng ban</th>
                  <th width="300px" class="text-center">Ghi chú</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let row of listDataPlan; let i = index">
                  <tr>
                    <td colspan="8" style="background-color: rgb(165, 205, 255);">
                      <b>Bước&nbsp;{{startIndexPlan+i}}: &nbsp; {{row.Name}}</b>
                    </td>
                  </tr>

                  <tr *ngFor="let item of row.ListchildInProgress; let j= index">
                    <td class="text-center">
                    </td>
                    <td>{{item.QuotationPlanName}}</td>
                    <td>{{item.EmployeeName}}</td>
                    <td class="text-right">{{item.PlanDueDate|date:'dd/MM/yyyy'}}</td>
                    <td class="text-right">{{item.ActualEndDate|date:'dd/MM/yyyy'}}</td>
                    <td class="text-center">
                      <span class="badge badge-secondary" style="margin-top: 13px" *ngIf="item.Status == 1">Chưa có kế
                        hoạch</span>
                      <span class="badge badge-warning" style="margin-top: 13px" *ngIf="item.Status == 2">Đang triển
                        khai</span>
                      <span class="badge badge-success" style="margin-top: 13px" *ngIf="item.Status == 3">Đã xong</span>
                      <span class="badge badge-danger" style="margin-top: 13px" *ngIf="item.Status == 4">Trễ kế
                        hoạch</span>
                    </td>
                    <td>{{DepartmentName}}</td>
                    <td>
                      <nts-text-more [ntsLimit]="30" [ntsText]="item.Description"></nts-text-more>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot *ngIf="listDataPlan.length == 0">
                <tr class="bold">
                  <td colspan="16" min-width="300px" class="text-center" style="height: 50px; font-size: 20px;">Không
                    có dữ liệu</td>
                </tr>
              </tfoot>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="content-body">
      <hr />
      <div class="row">
        <div class="col-md-12">
          
          <button class="btn btn-view btn-warning">
            <i class="fa fa-edit"></i>
          </button>&nbsp;
          <small class="padding-right-20">Sửa dữ liệu</small>

          <button class="btn btn-view btn-danger">
            <i class="fas fa-times"></i>
          </button>&nbsp;
          <small class="padding-right-20">Xóa dữ liệu</small>

          <button class="btn btn-view btn-success">
            <i class="fa fa-file-excel"></i>
          </button>&nbsp;
          <small class="padding-right-20">Xuất dữ liệu</small>

          <small class="padding-right-20"><span><b>Tổng CV</b></span> / <span style="color:#007bff;"><b>CV còn phải làm</b></span> / <span style="color:#ff0000;"><b>CV trễ</b></span></small>

          <span style="font-size: 16px; color:#e0e0e0;"> <i class="fas fa-square"></i></span> &nbsp;
          <small class="padding-right-20">Bỏ qua bước</small>
          <span style="font-size: 16px; color:#007bff;"> <i class="fas fa-square"></i></span> &nbsp;
          <small class="padding-right-20">Đang triển khai | Chưa có kế hoạch</small>
          <span style="font-size: 16px; color:#28a745;"> <i class="fas fa-square"></i></span> &nbsp;
          <small class="padding-right-20">Đã xong</small>
          <span style="font-size: 16px; color:#ff0000;"> <i class="fas fa-square"></i></span> &nbsp;
          <small class="padding-right-20">Trễ kế hoạch</small>
        </div>
      </div>
    </div>
  </section>
</div>