<div class="modal-header">
  <h4 class="modal-title text-uppercase text-danger">{{ModalInfo.Title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body padding-15">
  <form name="form" class="tab-form-demo" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-6">
        <div class="form-group ">
          <label class="form-label">Mã môn học
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input [disUipermission]="['F050001','F050002']" type="text" class="form-control" [(ngModel)]="model.Code"
              name="Code" maxlength="50" required>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-6">
        <div class="form-group ">
          <label class="form-label">Tên môn học
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <div class="input-group">
              <input [disUipermission]="['F050001','F050002']" type="text" class="form-control" [(ngModel)]="model.Name"
                name="Name" maxlength="200" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-6">
        <div class="form-group ">
          <label class="form-label">Thời gian học lý thuyết (giờ)
            <span class='text-danger text-strong'></span>
          </label>
          <div class="controls">
            <input [disUipermission]="['F050001','F050002']" ntsNumberFormatter type="number" class="form-control"
              [(ngModel)]="model.LearningTheoryTime" name="LearningTheoryTime" maxlength="50">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-6">
        <div class="form-group ">
          <label class="form-label">Thời gian học thực hành (giờ)
            <span class='text-danger text-strong'></span>
          </label>
          <div class="controls">
            <div class="input-group">
              <input [disUipermission]="['F050001','F050002']" ntsNumberFormatter type="number" class="form-control"
                [(ngModel)]="model.LearningPracticeTime" name="LearningPracticeTime" maxlength="50">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-6">
        <div class="form-group ">
          <label class="form-label">Tổng thời gian học
            <span class='text-danger text-strong'></span>
          </label>
          <div class="controls">
            <input [disUipermission]="['F050001','F050002']" disabled type="number" class="form-control"
              value="{{model.LearningTheoryTime + model.LearningPracticeTime}}">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-lg-6">
        <div class="form-group ">
          <label class="form-label">Trình độ
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <nts-drop-down [disUipermission]="['F050001','F050002']" [items]="ListDegree" [columns]="columnNameDegree"
            ntsValue="Id" ntsLabel="Name" ntsMode="single" ntsAutoClose="true" [(ngModel)]="model.DegreeId"
            name="DegreeId" required>
          </nts-drop-down>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-lg-12">
        <div class="form-group ">
          <label class="form-label">Danh mục tài liệu môn học
            <span class='text-danger text-strong'></span>
          </label>
          <div class="controls">
            <textarea [disUipermission]="['F050001','F050002']" class="form-control" [(ngModel)]="model.Documents"
              name="Documents" maxlength="500"></textarea>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-lg-12">
        <div class="form-group ">
          <label class="form-label">Mô tả
            <span class='text-danger text-strong'></span>
          </label>
          <div class="controls">
            <div class="input-group">
              <textarea [disUipermission]="['F050001','F050002']" class="form-control" [(ngModel)]="model.Description"
                name="Description" maxlength="200"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left">
      <h4>Danh mục phòng học</h4>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-right">
      <button *appUipermission="['F050001','F050002']" type=" button" class="btn btn-success"
        (click)="showSelectClassRoom()">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Chọn phòng học
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
        <table class="table table-bordered table-fixed table-hover" style="min-width:400px">
          <thead>
            <tr>
              <th width="50px" class="text-center">STT</th>
              <th width="50px" class="text-center">Xử lý </th>
              <th width="150px" class="text-center">Mã phòng học </th>
              <th min-width="150px" class="text-center">Tên phòng học</th>
              <th width="100px" class="text-center">Giá </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of listBase; let i = index">
              <td class="text-center" width="50px">{{i+1}}</td>
              <td class="text-center">
                <button *appUipermission="['F050001','F050002']" type="button" (click)="showConfirmDeleteClassRoom(row)"
                  class="btn  btn-xs btn-danger" ngbTooltip="Xóa" container="body">
                  <span class="fas fa-times" aria-hidden="true"></span>
                </button>
              </td>
              <td width="150px">{{row.Code}}</td>
              <td min-width="150px">{{row.Name}}</td>
              <td width="100px" class="text-right">{{row.Pricing| number}}</td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left">
      <h4>Danh mục kỹ năng</h4>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-right">
      <button *appUipermission="['F050001','F050002']" type=" button" class="btn btn-success"
        (click)="showSelectSkill()">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Chọn kỹ năng
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
        <table class="table table-bordered table-fixed table-hover" style="min-width:750px">
          <thead>
            <tr>
              <th width="50px" class="text-center">STT</th>
              <th width="50px" class="text-center">Xử lý </th>
              <th width="100px" class="text-center">Mã kỹ năng </th>
              <th min-width="150px" class="text-center">Tên kỹ năng</th>
              <th width="200px" class="text-center">Nhóm kỹ năng</th>
              <th width="200px" class="text-center">Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of listSkill; let i = index">
              <td class="text-center" width="50px">{{i+1}}</td>
              <td class="text-center">
                <button *appUipermission="['F050001','F050002']" type="button" (click)="showConfirmDeleteSkill(row)"
                  class="btn  btn-xs btn-danger" ngbTooltip="Xóa" container="body">
                  <span class="fas fa-times" aria-hidden="true"></span>
                </button>
              </td>
              <td>{{row.Code}}</td>
              <td>{{row.Name}}</td>
              <td>{{row.SkillGroupName}}</td>
              <td>{{row.Description}}</td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left">
      <h4>Tài liệu đính kèm</h4>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-right">
      <div style="margin-left: 5px" class="upload-btn-wrapper">
        <button *appUipermission="['F050001','F050002']" class="btn btn-success btn-upload" (click)="fileInput.click()">
          <i class="fas fa-arrow-up"> &nbsp;</i>Upload
        </button>
        <input [disUipermission]="['F050001','F050002']" name="file" style="display: none;" type="file" id="fileInput"
          #fileInput (change)="uploadFileClick($event)" multiple />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
        <table class="table table-bordered table-fixed" style="min-width:430px">
          <thead>
            <tr>
              <th width="50px" class="text-center">STT</th>
              <th width="80px" class="text-center">Xử lý </th>
              <th min-width="150px" class="text-center">Tên File </th>
              <th width="150px" class="text-center">Dung lượng</th>
              <th width="150px" class="text-center">Ngày Upload</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of ListFile; let i = index">
              <td class="text-center">{{StartIndex+i}}</td>
              <td class="text-center">
                <ng-container>
                  <button *appUipermission="['F050001','F050002']" type="button" class="btn btn-xs btn-danger"
                    ngbTooltip="Xóa" (click)="showConfirmDeleteFile(i)">
                    <span class="fas fa-times" aria-hidden="true"></span>
                  </button>
                </ng-container> &nbsp;
                <ng-container *ngIf="row.Path!=null && row.Path!=''">
                  <button *appUipermission="['F050001','F050002']" style="background-color: papayawhip"
                    class="btn btn-xs" (click)="DownloadAFile(row)">
                    <span class="fa fa-download" aria-hidden="true"></span>
                  </button>
                </ng-container>

              </td>
              <td>
                <span *ngIf="row.Id==null">{{row.name}}</span>
                <span *ngIf="row.Id!=null">{{row.FileName}}</span>
              </td>
              <td class="text-center">
                <span *ngIf="row.Id==null">{{row.size/ (1024*1024)| number: '1.1-3'}} MB</span>
                <span *ngIf="row.Id!=null">{{row.FileSize / (1024*1024)| number: '1.1-3'}} MB</span>
              </td>

              <td class="text-center">
                <span *ngIf="row.Id=='' || row.Id == null">{{dateNow|date:'dd/MM/yyyy'}}</span>
                <span *ngIf="row.Id!=null">{{row.UpdateDate |date:'dd/MM/yyyy'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>
  </div>

</div>




<div class="modal-footer">
  <ng-container>
    <button *appUipermission="['F050001','F050002']" type="button" class="btn btn-success" [disabled]="!f.form.valid"
      (click)="save(false)">
      <i class="fa fa-save"></i>&nbsp;
      <span>{{ModalInfo.SaveText}}</span>
    </button>
  </ng-container>
  <ng-container *ngIf="Id===''">
    <button *appUipermission="['F050001']" type="button" class="btn btn-success" [disabled]="!f.form.valid"
      (click)="saveAndContinue()">
      <i class="fa fa-save"></i>&nbsp;
      <span>Lưu & tiếp tục</span>
    </button>
  </ng-container>
  <button type="button" class="btn btn-danger" (click)="closeModal(false)">
    <i class="fa fa-power-off"></i> &nbsp;
    <span>
      Đóng
    </span>
  </button>
</div>