<div class='content-wrapper page-content'>
    <section class="search-left">
        <div class="content-body">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 bold">
                    <label class="form-label" style="line-height:25px;">Tổng số
                        <span class="bold text-danger">{{modelSkillGroup.TotalItems}}</span> nhóm kỹ năng/ứng dụng</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 bold text-right">
                    <button *appUipermission="['F040401']" type="button" (click)="ShowCreateUpdate('', false)"
                        class="btn btn-xs btn-success mt-2" placement="bottom" ngbTooltip="Thêm nhóm kỹ năng"
                        container="body">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <dx-tree-list id="employees" [dataSource]="ListSkillGroup" keyExpr="Id" parentIdExpr="ParentId"
                        [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true" [height]="height"
                        (onSelectionChanged)="onSelectionChanged($event)" [expandedRowKeys]="ListSkillGroupId"
                        noDataText=" ">
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-search-panel [visible]="true" placeholder="Tìm kiếm theo mã nhóm"></dxo-search-panel>
                        <dxi-column dataField="Code" caption="Mã nhóm"></dxi-column>
                        <dxi-column dataField="Name" caption="Tên nhóm kỹ năng/ứng dụng" [minWidth]="200">
                        </dxi-column>
                        <dxi-column dataField="Id" cellTemplate="cellEditTemplate" caption="Xử lý" width="100px">
                            <div *dxTemplate="let item of 'cellEditTemplate'">
                                <ng-container *appUipermission="['F040401']">
                                    <button *ngIf="item.value != 0" type="button" placement="top" class="item-add"
                                        ngbTooltip="Thêm nhóm" container="body" (click)=" ShowCreateUpdate(item.value)">
                                        <i class="fas fa-plus"></i></button>
                                </ng-container>

                                <ng-container *appUipermission="['F040402']">
                                    <button *ngIf="item.value != 0" type="button" placement="top" class="item-update"
                                        ngbTooltip="Sửa nhóm" container="body"
                                        (click)=" ShowCreateUpdate(item.value, true)">
                                        <i class="fa fa-edit"></i></button>
                                </ng-container>

                                <ng-container *appUipermission="['F040403']">
                                    <button *ngIf="item.value != 0" type="button" placement="top" class="item-delete"
                                        ngbTooltip="Xóa nhóm" container="body"
                                        (click)=" showConfirmDeleteSkillGroup(item.value)">
                                        <i class="fas fa-times"></i></button>
                                </ng-container>
                            </div>
                        </dxi-column>
                    </dx-tree-list>
                    <dx-context-menu [dataSource]="items" keyExpr="Id" [width]="200" target="#employees"
                        (onItemClick)="itemClick($event)">
                        <div *dxTemplate="let e of 'item'">
                            <div>
                                <span [ngClass]="e.icon"></span>
                                <span *ngIf="e.items" class="dx-icon-spinright"></span> {{e.text}}
                            </div>
                        </div>
                    </dx-context-menu>
                </div>
            </div>
        </div>
    </section>
    <section class="body-right">
        <div class="content-body pb-0">
            <form name="searchForm" #f="ngForm">
                <div class="row">
                    <div class="col-xl-8 col-lg-6 col-md-8 col-sm-12">
                        <nts-search-bar [(options)]="searchOptions" [(ngModel)]="model" name="modelExpert"
                            (change)="searchSkill(SkillGroupId)">
                        </nts-search-bar>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 text-right">
                        <button class="btn btn-success btn-success-system" (click)="searchSkill(SkillGroupId)">
                            <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
                        <button class="btn btn-default btn-default-system" (click)="clear(SkillGroupId)">
                            <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="content-body">
            <div class="row margin-bottom-10">
                <div class="col-md-4 text-left">
                    <label class="form-label" style="line-height:35px;">Tổng số
                        <span class="bold text-danger">{{model.totalItems}}</span> kỹ năng BTH/ứng dụng</label>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 text-right">

                    <button *appUipermission="['F040501']" type="button" class="btn btn-success"
                        (click)="ShowCreate('')" container="body">
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </button> &nbsp;
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i
                                class="fas fa-cog"></i></button> 
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *appUipermission="['F040505']" class="btn  btn-success" (click)="ExportExcel()">
                                <i class="fa fa-file-excel" aria-hidden="true"></i>
                                Xuất excel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                        <table class="table table-bordered" style="min-width:800px">
                            <thead>
                                <tr>
                                    <th width="50px" class="text-center">STT</th>
                                    <th width="100px" class="text-center">Xử lý</th>
                                    <th width="150px" class="text-center ">Mã kỹ năng BTH/ứng dụng</th>
                                    <th min-width="200px" class="text-center">Tên kỹ năng BTH/ứng dụng</th>
                                    <th width="150px" class="text-center ">Nhóm kỹ năng BTH/ứng dụng</th>
                                    <th width="150px" class="text-center ">Mô tả</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listDA; let i = index">
                                    <td class="text-center">{{StartIndex+i}}</td>
                                    <td style="text-align: center">
                                        <button *appUipermission="['F040502','F040504']" type="button" (click)='ShowUpdate(row.Id)'
                                            class="btn btn-xs btn-warning" placement="top" ngbTooltip="Cập nhật"
                                            container="body">
                                            <span class="fa fa-edit" aria-hidden="true"></span>
                                        </button>&nbsp;
                                        <button *appUipermission="['F040503']" class="btn btn-xs btn-danger" (click)="showConfirmDeleteSkill(row.Id)"
                                            placement="top" ngbTooltip="Xóa">
                                            <span class="fas fa-times" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>{{row.Code}}</td>
                                    <td>{{row.Name}}</td>
                                    <td>{{row.SkillGroupName}}</td>
                                    <td>{{row.Description}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="listDA.length == 0">
                                <tr class="bold">
                                    <td colspan="16" min-width="300px" class="text-center"
                                        style="height: 300px; font-size: 20px;">Không có dữ liệu</td>
                                </tr>
                            </tfoot>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
                            (ngModelChange)="searchSkill(SkillGroupId)" name="pageSize">
                            <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label " style="padding:4px;">bản ghi/Trang</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="model.totalItems" [(page)]="model.PageNumber"
                        (pageChange)="searchSkill(SkillGroupId)" [pageSize]="model.PageSize" [maxSize]="5"
                        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <!-- <button class="btn btn-view btn-danger">
                        <i class="fas fa-download" style="color: black"></i>
                    </button>&nbsp;
                    <small class="padding-right-15">Tải và lưu file về máy</small> -->
                    <button class="btn btn-view btn-warning">
                        <i class="fa fa-edit"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Sửa kỹ năng BTH/ứng dụng</small>
                    <button class="btn btn-view btn-danger">
                        <i class="fas fa-times"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Xóa kỹ năng BTH/ứng dụng</small>
                    <button class="btn btn-view btn-success">
                        <i class="fas fa-plus"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Thêm nhóm kỹ năng BTH/ứng dụng</small>
                </div>
            </div>
        </div>
    </section>
</div>