app-solution-update {
  max-width: 950px !important;
  width: 950px !important;
  
  .custom-control.custom-checkbox.margin-top-15 {
    display: inline-block;
    margin: 0 15px 0 0px;
  }

  .checkbox .form-label {
    display: block !important;
  }
}
