<div class='content-wrapper'>
  <section class="box box-head">
    <div class="content-body pb-0">
      <form name="searchForm" #f="ngForm">
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
            <nts-search-bar [(options)]="searchOptions" [(ngModel)]="model" name="NameWorkSkill"
              (change)="searchWorkType()">
            </nts-search-bar>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 text-right">
            <button class="btn btn-success btn-success-system" (click)="searchWorkType()">
              <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
            <button class="btn btn-default btn-default-system" (click)="clear()">
              <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
          </div>
        </div>
      </form>
    </div>

    <div class="content-body">
      <div class="row margin-bottom-10">
        <div class="col-md-6 text-left">
          <label class="form-label" style="line-height:35px;">Tổng số
            <span class="bold text-danger">{{model.TotalItems}}</span> vị trí công việc</label>
        </div>
        <div class="col-md-6 text-right">
          <button *appUipermission="['F080501']" type="button" class="btn btn-success" (click)="showCreateUpdate('')" container="body">
            <i class="fa fa-plus"></i>
            Thêm mới
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
          <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
            <table class="table table-bordered" style="min-width:1180px">
              <thead>
                <tr>
                  <th width="50px" class="text-center">STT</th>
                  <th width="80px" class="text-center">Xử lý</th>
                  <th width="100px" class="text-center">Mã vị trí</th>
                  <th min-width="200px" class="text-center">Vị trí công việc</th>
                  <th width="200px" class="text-center">Dòng chảy</th>
                  <th width="200px" class="text-center">Phòng ban</th>
                  <th width="200px" class="text-center">SBU</th>
                  <th width="150px" class="text-center">Số lượng nhân viên</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listData; let i = index">
                  <td class="text-center">{{StartIndex+i}}</td>
                  <td style="text-align: center">
                    <button *appUipermission="['F080502', 'F080504']" type="button" (click)='showCreateUpdate(row.Id)' class="btn btn-xs btn-warning"
                      placement="bottom" ngbTooltip="Cập nhật" container="body">
                      <span class="fa fa-edit" aria-hidden="true"></span>
                    </button>&nbsp;
                    <button *appUipermission="['F080503']" class="btn btn-xs btn-danger" (click)="showConfirmDelete(row.Id)" container="body"
                      ngbTooltip="Xóa">
                      <span class="fas fa-times" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>{{row.Code}}</td>
                  <td>{{row.Name}}</td>
                  <td>{{row.FlowStageName}}</td>
                  <td>{{row.DepartmentName}}</td>
                  <td>{{row.SBUName}}</td>
                  <td class="text-center">{{row.Quantity}}</td>
                </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
          <div class="controls ">
            <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
              (ngModelChange)="searchWorkType()" name="pageSize">
              <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
            </select>
          </div>
          <label class="form-label " style="padding:4px;">bản ghi/Trang</label>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
          <ngb-pagination [collectionSize]="model.TotalItems" [(page)]="model.PageNumber"
            (pageChange)="searchWorkType()" [pageSize]="model.PageSize" [maxSize]="5" [rotate]="true"
            [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-view btn-warning">
            <i class="fa fa-edit"></i>
          </button>&nbsp;
          <small class="padding-right-20">Sửa vị trí công việc</small>
          <button class="btn btn-view btn-danger">
            <i class="fas fa-times"></i>
          </button>&nbsp;
          <small class="padding-right-20">Xóa vị trí công việc</small>
        </div>
      </div>
    </div>
  </section>
</div>