.project-error-confirm .modal-dialog {
  max-width: 1000px !important;
  width: 1000px !important;

  .upload-btn-wrapper {
    float: right;
    margin: 0 0 0 7px;
  }
  .dx-popup-wrapper > .dx-overlay-content {
    width: 600px !important;
  }
}
