<div class="modal-all">
    <div class="modal-header">
        <h3 class="modal-title text-danger text-uppercase">Chọn vật tư</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body padding-10">
        <form name="outerForm" class="tab-form-demo">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <nts-search-bar [options]="searchOptions" [(ngModel)]="searchModel" name="model"
                        (change)="searchPR()">
                    </nts-search-bar>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-right margin-top-20">
                    <button class="btn btn-success btn-success-system" (click)="searchPR()">
                        <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
                    <button class="btn btn-default btn-default-system" (click)="clear()">
                        <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>&nbsp;
                    <button type="button" class="btn btn-success" (click)='import()' container="body" name="importPR"
                        *appUipermission="['F120752']">
                        <i class="fa fa-plus"></i>
                        Import PR
                    </button>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 text-left">
                    <label class="form-label" style="line-height:35px;">Tổng số
                        <span class="bold text-danger">{{listBase.length}}</span> vật tư chưa chọn</label>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 text-left">
                    <label class="form-label" style="line-height:35px;">Tổng số
                        <span class="bold text-danger">{{listSelect.length}}</span> vật tư đã chọn</label>
                </div>

            </div>
            <div class="row">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 table-choose">
                    <div class="table-left">
                        <virtual-scroller #scroll [items]="listBase" style=" display: block;height: 400px;">
                            <table class="table table-bordered table-fixed table-hover"
                                style="word-wrap: break-word; margin-bottom:0px !important;min-width: 1560px;">
                                <thead #header style="background-color: white">
                                    <tr>
                                        <th style="text-align:center;padding-top: 5px;" width="60px">
                                            <input type="checkbox" [(ngModel)]="checkedTop" name="{{'checkedTop'}}"
                                                style="height:20px; width:20px;" (change)="checkAll(true)">
                                        </th>
                                        <th width="50px" class="text-center">STT</th>
                                        <th width="100px" class="text-center">Mã</th>
                                        <th min-width="200px" class="text-center">Tên</th>
                                        <th width="150px" class="text-center">Mã cha</th>
                                        <th width="100px" class="text-center">Đơn vị</th>
                                        <th width="150px" class="text-center">Hãng sản xuất</th>
                                        <th width="100px" class="text-center">Số lượng yêu cầu</th>
                                        <th width="100px" class="text-center">Ngày yêu cầu</th>
                                        <th width="150px" class="text-center">Nhân viên mua hàng</th>
                                        <th width="100px" class="text-center">Mã dự án</th>
                                        <th width="200px" class="text-center">Tên dự án</th>
                                        <th width="100px" class="text-center">Mã PR</th>
                                        <th width="100px" class="text-center">Giá định mức</th>
                                    </tr>
                                </thead>

                                <tbody #container>
                                    <tr *ngFor="let row of scroll.viewPortItems; let i = index">
                                        <td style="text-align:center" width="60px">
                                            <input type="checkbox" [(ngModel)]="row.Checked"
                                                name="{{'Checked'+row.Name+i}}" style="height:20px; width:20px;">
                                        </td>
                                        <td class="text-center">{{row.Index}}</td>
                                        <td>{{row.Code}}</td>
                                        <td>{{row.Name}}</td>
                                        <td>{{row.ParentCode}}</td>
                                        <td class="text-center">{{row.UnitName}}</td>
                                        <td>{{row.ManufactureCode}}</td>
                                        <td class="text-center">{{row.Quantity| number}}</td>
                                        <td>{{row.RequireDate| date:'dd/MM/yyyy'}}</td>
                                        <td>{{row.SalesName}}</td>
                                        <td>{{row.ProjectCode}}</td>
                                        <td>{{row.ProjectName}}</td>
                                        <td>{{row.PurchaseRequestCode}}</td>
                                        <td width="100px" class="text-right">{{row.QuotaPrice| number}}</td>
                                    </tr>
                                </tbody>
                                <!-- <tfoot *ngIf="scroll.viewPortItems.length == 0">
                    <tr class="bold">
                      <td colspan="16" min-width="300px" class="text-center" style="height: 300px; font-size: 20px;">Không
                        có dữ liệu</td>
                    </tr>
                  </tfoot> -->
                            </table>
                        </virtual-scroller>
                    </div>

                    <div class="table-center">
                        <button type="button" ngbTooltip="Chọn vật tư" class="btn btn-success" (click)="addRow()">
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <button type="button" ngbTooltip="Bỏ chọn vật tư" class="btn btn-danger" (click)="removeRow()">
                            <i class="fas fa-angle-left"></i>
                        </button>
                    </div>

                    <div class="table-right">
                        <virtual-scroller #scrolll [items]="listSelect" style="height:400px; width:100%;">
                            <table class="table table-bordered table-fixed"
                                style="word-wrap: break-word; min-width:1560px">
                                <thead #header style="background-color: white">
                                    <tr>
                                        <th style="text-align:center;padding-top: 5px;" width="60px">
                                            <input type="checkbox" [(ngModel)]="checkedBot" name="{{'checkedBot'}}"
                                                style="height:20px; width:20px;" (change)="checkAll(false)">
                                        </th>
                                        <th width="50px" class="text-center">STT</th>
                                        <th width="100px" class="text-center">Mã</th>
                                        <th min-width="200px" class="text-center">Tên</th>
                                        <th width="150px" class="text-center">Mã cha</th>
                                        <th width="100px" class="text-center">Đơn vị</th>
                                        <th width="150px" class="text-center">Hãng sản xuất</th>
                                        <th width="100px" class="text-center">Số lượng yêu cầu</th>
                                        <th width="100px" class="text-center">PR Due date</th>
                                        <th width="150px" class="text-center">Nhân viên bán hàng</th>
                                        <th width="100px" class="text-center">Mã dự án</th>
                                        <th width="200px" class="text-center">Tên dự án</th>
                                        <th width="100px" class="text-center">Mã PR</th>
                                        <th width="100px" class="text-center">Giá định mức</th>
                                    </tr>
                                </thead>
                                <tbody #container>
                                    <tr *ngFor="let row of scrolll.viewPortItems; let i = index">
                                        <td style="text-align:center">
                                            <input [disUipermission]="['F000904']" type="checkbox"
                                                [(ngModel)]="row.Checked" name="{{'Choose_Checked_'+row.Name+id}}"
                                                style="height:20px; width:20px;">
                                        </td>
                                        <td class="text-center">{{startIndexSelected+i}}</td>
                                        <td>{{row.Code}}</td>
                                        <td>{{row.Name}}</td>
                                        <td>{{row.ParentCode}}</td>
                                        <td class="text-center">{{row.UnitName}}</td>
                                        <td>{{row.ManufactureCode}}</td>
                                        <td class="text-center">{{row.Quantity| number}}</td>
                                        <td>{{row.RequireDate| date:'dd/MM/yyyy'}}</td>
                                        <td>{{row.SalesName}}</td>
                                        <td>{{row.ProjectCode}}</td>
                                        <td>{{row.ProjectName}}</td>
                                        <td>{{row.PurchaseRequestCode}}</td>
                                        <td width="100px" class="text-right">{{row.QuotaPrice| number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </virtual-scroller>
                    </div>
                </div>

            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="chooseMaterialImportPR()">
            <i class="fa fa-check"></i>&nbsp;
            <span>Chọn</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">
            <i class="fa fa-power-off"></i> &nbsp;
            <span>
                Đóng
            </span>
        </button>
    </div>
</div>