<div class="modal-header">
    <h4 class="modal-title text-uppercase text-danger">{{ModalInfo.Title}}</h4>
    <button style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body padding-15">
    <form name="form" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="form-group ">
            <label class="form-label">Mã giai đoạn dự án
              <span class='text-danger text-strong'>&nbsp;*</span>
            </label>
            <div class="controls">
              <input [disUipermission]="['F091202','F091201']" type="text" class="form-control" [(ngModel)]="model.Code"
                name="CodeProjectPhase" maxlength="20" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="form-group ">
            <label class="form-label">Tên giai đoạn dự án
              <span class='text-danger text-strong'>&nbsp;*</span>
            </label>
            <div class="controls">
              <input [disUipermission]="['F091202','F091201']" type="text" class="form-control" [(ngModel)]="model.Name"
                name="NameProjectPhase" maxlength="200" required>
            </div>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="form-group ">
            <label class="form-label">SBU
                <span class='text-danger text-strong'>&nbsp;*</span>
            </label>
            <div class="controls">
                <nts-drop-down [items]="listSBU" [columns]="columnName" ntsValue="Id"
                    ntsLabel="Name" ntsMode="single" ntsAutoClose="true"
                    [(ngModel)]="model.SBUId" name="SBUName" required >
                </nts-drop-down>
            </div>
        </div>
      </div>
      </div>
      <div class = "row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <label class="form-label">Thuộc giai đoạn</label>
            <div class="controls">
              <nts-drop-down-tree [disUipermission]="['F000102','F000104','F000101']" [items]="listProjectPhaseType"
                [columns]="columnName" ntsParentId="ParentId" ntsValue="Id" ntsLabel="Code" ntsMode="single"
                ntsAutoClose="true" [(ngModel)]="model.ParentId" name="ParentId">
              </nts-drop-down-tree>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="modal-footer">
    <ng-container>
      <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)"
        *appUipermission="['F091201','F091202']">
        <i class="fa fa-save"></i>&nbsp;
        <span>{{ModalInfo.SaveText}}</span>
      </button>
    </ng-container>
    <ng-container *ngIf="Id===''">
      <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="saveAndContinue()"
        *appUipermission="['F091201']">
        <i class="fa fa-save"></i>&nbsp;
        <span>Lưu & Tiếp tục</span>
      </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
      <i class="fa fa-power-off"></i> &nbsp;
      <span>
        Đóng
      </span>
    </button>
  </div>