<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xl-9">
    <label class="form-label" style="line-height:35px;">Danh sách module của bài thực hành/công đoạn |
    </label>
    <label class="form-label" style="line-height:35px;">Tổng số
      <span class="bold text-danger">{{ListModule.length}}</span> module |
    </label>
    <label class="form-label" style="line-height:35px;">Tổng số tiền
      <span class="bold text-danger">{{TotalAmount|number:'1.0-0'}}</span> |
    </label>
    <label class="form-label" style="line-height:35px;">Giá lớn nhất
      <span class="bold text-danger">{{MaxPriceModule|number:'1.0-0'}}</span> |
    </label>
    <label class="form-label" style="line-height:35px;">LeadTime lớn nhất
      <span class="bold text-danger">{{MaxLeadTimeModule|number}}</span>
    </label>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xl-3 text-right">
    <button class="btn btn-default btn-default-system" (click)="searchPracticeModule()">
      <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>&nbsp;
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-cog"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button type=" button" class="btn btn-success" (click)="showSelectModule()" *appUipermission="['F030407']">
          <span class="fa fa-plus" aria-hidden="true"></span>
          Chọn module
        </button>
        <button type=" button" class="btn btn-success" (click)="showImportModule()">
          <span class="fa fa-plus" aria-hidden="true"></span>
          Import module
        </button>&nbsp;
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
    <perfect-scrollbar [config]="constants.ScrollXConfig">
      <table class="table table-bordered table-fixed" style="min-width:1010px">
        <thead>
          <tr>
            <th class="text-center" width="50px">STT</th>
            <th class="text-center" width="50px">Xử lý</th>
            <th class="text-center" width="150px">Mã module</th>
            <th class="text-center" min-width="150px">Tên module</th>
            <th class="text-center" width="150px">Nhóm module</th>
            <th class="text-center" width="120px">LeadTime(ngày)</th>
            <th class="text-center" width="90px">Giá</th>
            <th class="text-center" width="100px">Số lượng</th>
            <th class="text-center" width="150px">Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of ListModule; let i = index">
            <td class="text-center">{{i+1}}</td>
            <td class="text-center">
              <button *appUipermission="['F030407']" type="button" class="btn btn-xs btn-danger" ngbTooltip="Xóa"
                (click)="showConfirmDeleteModule(i)">
                <span class="fas fa-times" aria-hidden="true"></span>
              </button>
            </td>
            <td>{{row.ModuleCode}}</td>
            <td>{{row.ModuleName}}</td>
            <td>{{row.ModuleGroupCode}}</td>
            <td>{{row.LeadTime}}</td>
            <td class="text-right" [ngClass]="{'noprice': row.IsNoPrice || row.Price==0||row.Price==null}">
              {{row.Pricing|number:'1.0-0'}}</td>
            <td class="text-center">
              <div class="controls">
                <input type="number" ntsNumberInt class="form-control" [(ngModel)]="row.Qty" maxlength="100" min="0"
                  name={{row.Name}}>
              </div>
            </td>
            <td class="text-right">{{(row.Qty * row.Pricing)|number:'1.0-0'}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8" class="text-right bold">Tổng số</td>
            <td class="text-right bold">{{TotalAmount|number:'1.0-0'}}</td>
          </tr>
        </tfoot>
      </table>
    </perfect-scrollbar>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 text-right">
    <button type="button" class="btn btn-success" (click)="showConfirmUploadVersion()">
      <i class="fa fa-save"></i>
      <span>Lưu</span>
    </button>
  </div>
</div>