app-tivi-report-error-list {
    .li-department {
        display: inline-block;
        margin: 15px;

        .btn{
            font-size: 36px;
            font-weight: 600;
        }

        a{
            padding: 20px;
        }
    }
}
