<form name="form" class="tab-form-demo" #f="ngForm" novalidate>
    <!-- File -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-left">
            <label class="form-label" style="line-height:35px;">Tổng số
                <span class="bold text-danger">{{documentModel.DocumentFiles.length}}</span> file tài liệu
            </label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-right">
            <ng-container *appUipermission="['F121307']">
                <button class="btn btn-success" (click)="fileInput.click();" *ngIf="documentStatus!=1">
                    <i class="fas fa-arrow-up"></i>&nbsp;
                    <span>Upload</span>
                </button>
            </ng-container>
            <input name="file" style="display: none;" type="file" id="fileInput" #fileInput
                (change)="uploadFileClick($event)" multiple (click)="fileInput.value = null" />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
                <table class="table table-bordered" style="min-width:700px">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">STT</th>
                            <th width="80px" class="text-center">Xử lý</th>
                            <th min-width="150px" class="text-center">Tên file</th>
                            <th width="100px" class="text-center">Dung lượng</th>
                            <th width="130px" class="text-center">Ngày upload</th>
                            <th width="200px" class="text-center">Người upload</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let row of documentModel.DocumentFiles; let i = index">
                            <tr *ngIf="!row.IsDelete">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-center">
                                    <ng-container *appUipermission="['F121309']">
                                        <button type="button" class="btn btn-xs btn-danger" ngbTooltip="Xóa"
                                            placement="top" (click)="showConfirmDeleteFile(row, i)" container="body"
                                            *ngIf="documentStatus!=1">
                                            <span class="fas fa-times" aria-hidden="true"></span>
                                        </button>&nbsp;
                                    </ng-container>
                                    <ng-container *ngIf="row.Path!=''">
                                        <button type="button" *appUipermission="['F121308']"
                                            (click)="downloadAFile(row)" style="background-color: papayawhip"
                                            class="btn btn-xs" placement="top" ngbTooltip="Tải và lưu" container="body">
                                            <span class="fas fa-download" aria-hidden="true"
                                                style="color: black"></span>
                                        </button>
                                    </ng-container>
                                </td>
                                <td>
                                    <span>{{row.FileName}}</span>
                                </td>
                                <td class="text-center">
                                    <span>{{row.FileSize / (1024*1024)| number:
                                        '1.1-3'}} MB</span>
                                </td>
                                <td class="text-center">
                                    <span>{{row.CreateDate |date:'dd/MM/yyyy'}}</span>
                                </td>
                                <td>
                                    {{row.CreateByName}}
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
    </div>


    <div class="row margin-bottom-5">
        <div class="col-md-6 text-left">
            <label class="form-label" style="line-height:35px;">Tổng số
                <span class="bold text-danger">{{documentModel.DocumentReferences.length}}</span> tài liệu tham chiếu
            </label>
        </div>
        <div class="col-md-6 text-right">
            <ng-container *ngIf="documentStatus!=1">
                <button *appUipermission="['F121310']" type="button" class="btn btn-success" (click)='chooseDocument()'
                    container="body">
                    <i class="fa fa-plus"></i>
                    Chọn tài liệu
                </button>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
                <table class="table table-bordered" style="min-width:730px">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">STT</th>
                            <th width="80px" class="text-center">Xử lý</th>
                            <th width="200px" class="text-center">Mã tài liệu</th>
                            <th min-width="200px" class="text-center">Tên tài liệu</th>
                            <th width="200px" class="text-center">Nhóm tài liệu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of documentModel.DocumentReferences; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">
                                <ng-container *appUipermission="['F121311']">
                                    <button type="button" class="btn btn-xs btn-danger" ngbTooltip="Xóa" placement="top"
                                        (click)="showConfirmDeleteFileReference(i)" container="body"
                                        *ngIf="documentStatus!=1">
                                        <span class="fas fa-times" aria-hidden="true"></span>
                                    </button>
                                </ng-container>
                            </td>
                            <td>
                                {{row.Code}}
                            </td>
                            <td>
                                {{row.Name}}
                            </td>
                            <td>
                                {{row.DocumentGroupName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
    </div>
</form>

<div class=" modal-footer">
    <ng-container>
        <button type="button" class="btn btn-success" *appUipermission="['F121311','F121310']"
            [disabled]="!f.form.valid" (click)="save()">
            <i class="fa fa-save"></i>&nbsp;
            <span>Lưu</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal()">
        <i class="fa fa-power-off"></i>
        <span>
            Đóng
        </span>
    </button>
</div>