app-ns-material-group-create {
    .selected {
        background-color: aqua !important;
    }

    .btn-upload {
        height: 35px;
        white-space: nowrap;
    }
    
    .border {
        border: 1px solid #656667 !important;
        padding: 10px;
    }
}
