<div class='content-wrapper'>
  <section class="box box-head">
    <header class="panel_header panel_header_body">
      <h2 class="title pull-left">Tìm kiếm</h2>
      <div class="actions panel_actions pull-right">
        <i class="box_toggle material-icons">expand_more</i>
      </div>
    </header>
    <div class="content-body padding-15">
      <form name="searchForm" #f="ngForm">
        <div class="row">
          <div class="col-lg-9">
            <nts-search-bar [options]="searchOptions" [(ngModel)]="searchModel" name="a" (change)="search()">
            </nts-search-bar>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 text-right">
            <button class="btn btn-success btn-success-system" (click)="search()">
              <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
            <button class="btn btn-default btn-default-system" (click)="clear()">
              <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>