<div class='content-wrapper'>
    <section class="box box-head">
        <div class="content-body pb-0">
            <form name="searchForm" #f="ngForm">
                <div class="row">
                    <div class="col-lg-8">
                        <nts-search-bar [options]="searchOptions" [(ngModel)]="model" name="searchApplication"
                            (change)="searchSaleTartgetment()">
                        </nts-search-bar>
                    </div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-success btn-success-system" (click)="searchSaleTartgetment()">
                            <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
                        <button class="btn btn-default btn-default-system" (click)="clear()">
                            <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="content-body ">
            <div class="row margin-bottom-10">
                <div class="col-md-6 text-left">
                    <label class="form-label" style="line-height:35px;">Tổng giá trị doanh số đăng ký :
                        <span class="bold text-danger">{{TotalTartgetment| number:'1.0-0'}} đ</span></label>
                </div>
                <div class="col-md-6 text-right">
                    <button  type="button" class="btn btn-success"
                        (click)="showCreateUpdate('')" container="body">
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
                    <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                        <table class="table table-bordered" style="min-width:1530px">
                            <thead>
                                <tr>
                                    <th width="50px" class="text-center">STT</th>
                                    <th width="80px" class="text-center">Xử lý</th>
                                    <th width="100px" class="text-center">Tên NV</th>
                                    <th width="100px" class="text-center">Mã NV</th>
                                    <th width="100px" class="text-center">Phòng ban</th>
                                    <th min-width="200px" class="text-center">Tên KH</th>
                                    <th width="100px" class="text-center">Mã KH</th>
                                    <th width="150px" class="text-center">Lĩnh vực sản xuất</th>
                                    <th width="150px" class="text-center">Ứng dụng</th>
                                    <th width="150px" class="text-center">Ngành hàng</th>
                                    <th width="150px" class="text-center">Doanh số ước tính</th>
                                    <th width="200px" class="text-center">Thời gian đăng ký dự kiến</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listData; let i = index">
                                    <td class="text-center">{{StartIndex +i}}</td>
                                    <td style="text-align: center">
                                        <button type="button"
                                            (click)='showCreateUpdate(row.Id)' class="btn btn-xs btn-warning"
                                            placement="top" ngbTooltip="Cập nhật" container="body">
                                            <span class="fa fa-edit" aria-hidden="true"></span>
                                        </button>&nbsp;
                                        <button class="btn btn-xs btn-danger"
                                            (click)="showConfirmDelete(row.Id)" placement="top"
                                            ngbTooltip="Xóa">
                                            <span class="fas fa-times" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td class="text-center">{{row.EmployeeName}}</td>
                                    <td class="text-center">{{row.EmployeeCode}}</td>
                                    <td class="text-center">{{row.DepartmentName}}</td>
                                    <td class="text-center">{{row.CustomerName}}</td>
                                    <td class="text-center">{{row.CustomerCode}}</td>
                                    <td class="text-center">{{row.DomainName}}</td>
                                    <td class="text-center">{{row.ApplicationName}}</td>
                                    <td class="text-center">{{row.IndustryName}}</td>
                                    <td class="text-right">{{row.SaleTarget| number:'1.0-0'}}</td>
                                    <td class="text-center">{{row.PlanContractDate|date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="listData.length == 0">
                                <tr class="bold">
                                    <td colspan="12" min-width="1580px" class="text-center"
                                        style="height: 300px; font-size: 20px;">Không có dữ liệu</td>
                                </tr>
                            </tfoot>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
                            (ngModelChange)="searchSaleTartgetment()" name="pageSize">
                            <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label " style="padding:4px;">bản ghi/Trang</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="model.TotalItems" [(page)]="model.PageNumber"
                        (pageChange)="searchSaleTartgetment()" [pageSize]="model.PageSize" [maxSize]="5" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </section>
</div>