<div class="modal-header">
    <h4 class="modal-title text-uppercase text-danger">{{modalInfo.Title}}</h4>
    <button style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body padding-15">
    <form name="form" class="tab-form-demo" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Thuộc nhóm
                    </label>
                    <div class="controls">
                        <nts-drop-down-tree [items]="documentGroups" [columns]="columnName" ntsParentId="ParentId"
                            ntsValue="Id" ntsLabel="Code" ntsMode="single" ntsAutoClose="true"
                            [(ngModel)]="documentGroupModel.ParentId" name="ParentId">
                        </nts-drop-down-tree>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Mã nhóm tài liệu
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="documentGroupModel.Code" name="Code"
                            maxlength="50" required>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Tên nhóm tài liệu
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="documentGroupModel.Name" name="name"
                            maxlength="300" required>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="form-label">Ghi chú
                        <span class='text-danger text-strong'>&nbsp;</span>
                    </label>
                    <div class="controls">
                        <textarea [(ngModel)]="documentGroupModel.Note" name="Note" rows="5" class="form-control"
                            [maxLength]="300"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <ng-container>
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{modalInfo.SaveText}}</span>
        </button>
    </ng-container>
    <ng-container *ngIf="documentGroupModel.Id ==''">
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="saveAndContinue()">
            <i class="fa fa-save"></i>&nbsp;
            <span>Lưu & tiếp tục</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            Đóng
        </span>
    </button>
</div>