<div class="modal-header">
    <h4 class="modal-title text-uppercase text-danger">{{ModalInfo.Title}}</h4>
    <button style="color: brown" type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body padding-15">
    <form name="form" class="tab-form-demo" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-3">
                <div class="form-group ">
                    <label class="form-label">Loại câu hỏi
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <select name="TypeId" class="form-control" [(ngModel)]="questionModel.Type" required>
                            <option *ngFor="let item of types" [ngValue]="item.Id">{{item.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

       
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-3">
                <div class="form-group ">
                    <label class="form-label">Điểm của câu hỏi
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="questionModel.Score"
                            name="ScoreOfQuestion" maxlength="50" ntsNumberInt>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="form-label">Nội dung câu hỏi
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <!-- <textarea [(ngModel)]="questionModel.Question" name="Question" rows="5" class="form-control"
                            [maxLength]="300"></textarea> -->
                        <nts-app-tinymce [(ngModel)]="questionModel.Content" [config]="discoveryConfig" name="Content" required>
                        </nts-app-tinymce>
                    </div>
                </div>
            </div>

            <div *ngIf="questionModel.Type!='1'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="form-label">Đáp án
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <textarea [(ngModel)]="questionModel.Answer" name="QuestionAnswer" rows="5" class="form-control" required
                            [maxLength]="300"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 radio" *ngIf="questionModel.Type =='1'">
                <div class="form-group ">
                    <label class="form-label">Đáp án
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <ng-container>
                        <label class="radio">Sai
                            <input type="radio" name="valueTrueFalse" [(ngModel)]="Answer" [value]="false">
                            <span class="checkround"></span>
                        </label>
                        <label class="radio">Đúng
                            <input type="radio" name="valueTrueFalse" [(ngModel)]="Answer" [value]="true">
                            <span class="checkround"></span>
                        </label>
                    </ng-container>

                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <ng-container>
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{ModalInfo.SaveText}}</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            Đóng
        </span>
    </button>
</div>