<div class='content-wrapper page-content'>
    <section class="search-left">
        <div class="content-body">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <label class="form-label" style="line-height:25px;">Tổng số
                        <span class="bold text-danger">{{modelRoomType.TotalItems}}</span> loại phòng học/line sản
                        xuất</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-right">
                    <button *appUipermission="['F050201']" type="button" (click)="ShowCreateUpdateRoomType('')"
                        class="btn btn-xs btn-success" placement="bottom" ngbTooltip="Thêm loại phòng học"
                        container="body">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <dx-tree-list id="employees" [dataSource]="ListRoomType" keyExpr="Id" parentIdExpr="ParentId"
                        [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true" [height]="height"
                        (onSelectionChanged)="onSelectionChanged($event)" [expandedRowKeys]="ListRoomTypeId"
                        noDataText=" ">
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-search-panel [visible]="true" placeholder="Tìm kiếm theo mã nhóm"></dxo-search-panel>
                        <dxi-column dataField="Code" caption="Mã nhóm"></dxi-column>
                        <dxi-column dataField="Name" caption="Danh sách loại phòng học/line sản xuất" [minWidth]="200">
                        </dxi-column>
                        <dxi-column dataField="Id" cellTemplate="cellEditTemplate" caption="Xử lý" width="60px">
                            <div *dxTemplate="let item of 'cellEditTemplate'">
                                <ng-container *appUipermission="['F050202']">
                                    <button *ngIf="item.value != 0" type="button" placement="top" class="item-update"
                                        ngbTooltip="Sửa nhóm" container="body"
                                        (click)=" ShowCreateUpdateRoomType(item.value)">
                                        <i class="fa fa-edit"></i></button>
                                </ng-container>
                                <ng-container *appUipermission="['F050203']">
                                    <button *ngIf="item.value != 0" type="button" placement="top" class="item-delete"
                                        ngbTooltip="Xóa nhóm" container="body"
                                        (click)=" showConfirmDeleteRoomType(item.value)">
                                        <i class="fas fa-times"></i></button>
                                </ng-container>


                            </div>
                        </dxi-column>
                    </dx-tree-list>
                    <dx-context-menu [dataSource]="items" keyExpr="Id" [width]="200" target="#employees"
                        (onItemClick)="itemClick($event)">
                        <div *dxTemplate="let e of 'item'">
                            <div>
                                <span [ngClass]="e.icon"></span>
                                <span *ngIf="e.items" class="dx-icon-spinright"></span> {{e.text}}
                            </div>
                        </div>
                    </dx-context-menu>
                </div>
            </div>
        </div>
    </section>


    <section class="body-right">
        <div class="content-body pb-0">
            <form name="searchForm" #f="ngForm">
                <div class="row">
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                        <nts-search-bar [(options)]="searchOptions" [(ngModel)]="model" name="modelClassRoom"
                            (change)="searchClassRoom('')">
                        </nts-search-bar>
                    </div>

                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 text-right">
                        <button class="btn btn-success btn-success-system" (click)="searchClassRoom('')">
                            <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
                        <button class="btn btn-default btn-default-system" (click)="clear()">
                            <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="content-body ">
            <div class="row margin-bottom-10">
                <div class="col-md-4 text-left">
                    <label class="form-label" style="line-height:35px;">Tổng số
                        <span class="bold text-danger">{{model.TotalItems}}</span> phòng học/line sản xuất</label>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 text-right">
                    <a [routerLink]="['/phong-hoc/quan-ly-phong-hoc/them-moi']"
                        *appUipermission="['F050301']" type="button" class="btn btn-success" container="body">
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </a>&nbsp;
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i
                                class="fas fa-cog"></i></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *appUipermission="['F050305']" class="btn btn-success btn-file"
                                (click)="ExportExcel();">
                                <i class="fas fa-file-excel"></i> &nbsp;Xuất excel</button>
                            <button  class="btn btn-success btn-file"
                                (click)="updatePriceClass();">
                                <i class="fas fa-redo-alt"></i> &nbsp;Cập nhật giá mới</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
                    <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                        <table class="table table-bordered" style="min-width:1100px">
                            <thead>
                                <tr>
                                    <th width="50px" class="text-center">STT</th>
                                    <th width="80px" class="text-center">Xử lý</th>
                                    <th width="150px" class="text-center">Mã phòng học/line sản xuất</th>
                                    <th width="150px" class="text-center">Tên phòng học/line sản xuất</th>
                                    <th width="150px" class="text-center">Nhóm phòng học/line sản xuất</th>
                                    <th width="80px" class="text-center">Giá</th>
                                    <th width="150px" class="text-center">Địa chỉ</th>
                                    <th width="150px" class="text-center">Mô tả</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listData; let i = index">
                                    <td class="text-center">{{StartIndex+i}}</td>
                                    <td style="text-align: center">
                                        <a *appUipermission="['F050302','F050304']" type="button"
                                            [routerLink]="['/phong-hoc/quan-ly-phong-hoc/chinh-sua/'+row.Id]"
                                            class="btn btn-xs btn-warning" placement="bottom" ngbTooltip="Cập nhật"
                                            container="body">
                                            <span class="fa fa-edit" aria-hidden="true"></span>
                                        </a>&nbsp;
                                        <button *appUipermission="['F050303']" class="btn btn-xs btn-danger"
                                            (click)="showConfirmDeleteClassRoom(row.Id)" ngbTooltip="Xóa"
                                            placement="bottom">
                                            <span class="fas fa-times" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>{{row.Code}}</td>
                                    <td min-width="150px">{{row.Name}}</td>
                                    <td>{{row.RoomTypeName}}</td>
                                    <td class="text-right">{{row.Pricing| number:'1.0-0'}}</td>
                                    <td>{{row.Address }}</td>
                                    <td>{{row.Description}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="listData.length == 0">
                                <tr class="bold">
                                    <td colspan="16" min-width="300px" class="text-center"
                                        style="height: 300px; font-size: 20px;">Không có dữ liệu</td>
                                </tr>
                            </tfoot>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
                            (ngModelChange)="searchClassRoom('')" name="pageSize">
                            <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label " style="padding:4px;">bản ghi/Trang</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="model.TotalItems" [(page)]="model.PageNumber"
                        (pageChange)="searchClassRoom('')" [pageSize]="model.PageSize" [maxSize]="5" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-view btn-success">
                        <i class="fas fa-plus"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Thêm dữ liệu</small>
                    <button class="btn btn-view btn-warning">
                        <i class="fa fa-edit"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Sửa dữ liệu</small>
                    <button class="btn btn-view btn-danger">
                        <i class="fas fa-times"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Xóa dữ liệu</small>
                </div>
            </div>
        </div>
    </section>
</div>