<div class="modal-header">
  <h4 class="modal-title text-uppercase text-danger">{{modalInfo.Title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body padding-15">
  <form name="form" class="tab-form-demo" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group ">
          <label class="form-label">Tên thư mục
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input [disUipermission]="['F090801','F090802']" type="text" class="form-control"
              [(ngModel)]="modelDataDistribution.Name" maxLength="300" name="dataDistributionName" required>
            <!-- <input type="text" class="form-control" [(ngModel)]="model.Code" name="code" maxlength="50" required> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="form-group form-group-custom">
          <label class="form-label">Thư mục cha
          </label>

          <div class="controls">
            <div class="input-group">
              <nts-drop-down-tree [disUipermission]="['F090801','F090802']" [items]="dataDistributionParent"
                [columns]="columnName" ntsParentId="ParentId" ntsValue="Id" ntsLabel="Name" ntsMode="single"
                ntsAutoClose="true" [(ngModel)]="modelDataDistribution.ParentId" name="Id"></nts-drop-down-tree>
              <!-- <div class="input-group-append">
                <button type="button" (click)='showAddMaterialGroup()' class="btn btn-xs btn-success" placement="bottom"
                  ngbTooltip="Thêm nhóm vậy tư" container="body">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <label class="form-label">Mô tả
            <span class='text-danger text-strong'>&nbsp;</span>
          </label>
          <div class="controls">
            <textarea [disUipermission]="['F090801','F090802']" [(ngModel)]="modelDataDistribution.Description"
              name="Description" rows="5" class="form-control" maxLength="300"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Loại
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <select [disUipermission]="['F090801','F090802']" class="form-control"
              [(ngModel)]="modelDataDistribution.Type" name="Type" required>
              <option value="1">Chứa các file cơ khí</option>
              <option value="2">Chứa các file điện</option>
              <option value="3">Chứa các file điện tử</option>
              <option value="4">Tổng hợp</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="custom-control custom-checkbox margin-top-15">
          <input [disUipermission]="['F090801','F090802']" type="checkbox" class="custom-control-input" id="IsExportMaterial"
            name="IsExportMaterials" [(ngModel)]="modelDataDistribution.IsExportMaterial">
          <label class="custom-control-label" for="IsExportMaterial">Xuất danh mục vật tư</label>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <ng-container>
    <button *appUipermission="['F090801','F090802']" type="button" class="btn btn-success" [disabled]="!f.form.valid"
      (click)="save(false)">
      <i class="fa fa-save"></i>&nbsp;
      <span>{{modalInfo.SaveText}}</span>
    </button>
  </ng-container>
  <ng-container *ngIf="!isUpdate">
    <button *appUipermission="['F090801']" type="button" class="btn btn-success" [disabled]="!f.form.valid"
      (click)="saveAndContinue()">
      <i class="fa fa-save"></i>&nbsp;
      <span>Lưu & tiếp tục</span>
    </button>
  </ng-container>
  <button type="button" class="btn btn-danger" (click)="closeModal(false)">
    <i class="fa fa-power-off"></i> &nbsp;
    <span>
      Đóng
    </span>
  </button>
</div>