.suppliercreate-model .modal-dialog {
  max-width: 1500px !important;
  width: 1500px !important;
}
.suppliercreate-model {
  .dx-popup-content {
    padding: 0px !important;
  }
  .dx-popup-content {
    padding: 0px !important;
  }
  .dx-treelist-search-panel.dx-textbox.dx-texteditor.dx-editor-outlined.dx-searchbox.dx-show-clear-button.dx-widget,
  .dx-treelist-search-panel.dx-textbox.dx-texteditor.dx-editor-outlined.dx-searchbox.dx-show-clear-button.dx-texteditor-empty.dx-widget {
    width: 100% !important;
    margin: 0;
    padding: 0;
  }
  .dx-toolbar .dx-toolbar-after {
    padding-left: 0 !important;
    width: 100%;
  }
}
