app-report-error-progress {
    .week-today {
        background-color: yellow !important;
        color: black !important;
    }

    .day-today {
        background-color: yellow !important;
        color: black !important;
    }

    .plan-color{
        opacity: 0.8;
        color: #c5c5c5;
    }
}
