app-solution-manage {
  .custom-checkbox i.fas.fa-exclamation-triangle,
  .custom-checkbox i.fas.fa-check {
    position: relative;
    right: 17px;
  }
  .custom-checkbox i.fas.fa-exclamation-triangle,
  .custom-checkbox i.fas.fa-check {
    position: relative;
    right: 17px;
  }
  .custom-checkbox {
    width: 30%;
    float: left;
  }
}
