<div class='content-wrapper'>
  <section class="box box-head">
    <header class="panel_header panel_header_body">
      <h2 class="title pull-left">Chỉnh sửa nhóm vật tư phi tiêu chuẩn</h2>
    </header>
    <div class="content-body padding-15">
      <form name="createForm" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="form-group">
              <label class="form-label">Số lượng thông số</label>
              <div class="controls">
                <input [disUipermission]="['F000402']"  type="number" class="form-control" name="QuantityParam" [(ngModel)]="quantityParam"
                  (change)="quantityParamChange()">
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="border">
              <div class="row mt-3">
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <input [disUipermission]="['F000402']" type="text" class="form-control" name="PreCode" [(ngModel)]="preCode">
                </div>
                <div class="col-lg-2" *ngFor="let item of model.ListParameter">
                  <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                      <select [disUipermission]="['F000402']" class="form-control" [name]="'Symbol'+item.Code" [(ngModel)]="item.ConnectCharacter">
                        <option value=""></option>
                        <option value="-">-</option>
                        <option value="x">x</option>
                        <option value="/">/</option>
                        <option value=".">.</option>
                      </select>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                      <input [disUipermission]="['F000402']" type="text" class="form-control"
                        [name]="'Alphabet'+item.Code" value="{{item.Code}}" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 mt-4">
            <!-- <input type="button" class="btn btn-success btn-success-system " (click)="genCode()"
              style="white-space: nowrap" value="Tạo quy tắc"> -->
            <button *appUipermission="['F000402']" class="btn btn-success" (click)="genCode()">
              <i class="fa fa-plus"></i>&nbsp;
              <span>Tạo quy tắc</span>
            </button>
          </div>
        </div>
        <div class="row" style="margin-top:20px">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
              <label class="form-label">Mã<span style="color: red">*</span></label>
              <div class="controls">
                <input [disUipermission]="['F000402']" type="text" class="form-control"
                  name="Codensmaterialgroup" [(ngModel)]="model.Code" #Code="ngModel"
                  [ngClass]="{'is-invalid':f.submitted && Code.invalid}" disabled required>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Tên<span style="color: red">*</span></label>
              <div class="controls">
                <input [disUipermission]="['F000402']" type="text" class="form-control" name="Name"
                  [(ngModel)]="model.Name" #Name="ngModel" required>
                <!-- [ngClass]="{'is-invalid':f.submitted && Name.invalid}"  -->
                <!-- <div *ngIf="f.submitted && Name.invalid" class="invalid-feedback">
                  <div *ngIf="Name.errors.required">Bạn không được để trống Tên</div>
                </div> -->
              </div>

            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="form-label">Hãng<span style="color: red">*</span></label>
                <!-- <div class="controls">
                  <select name="ManufactureId" class="form-control" [(ngModel)]="model.ManufactureId"
                    [ngClass]="{'is-invalid':f.submitted && ManufactureId.invalid}" #ManufactureId="ngModel" required>
                    <option value="" disabled selected>Chọn hãng</option>
                    <option *ngFor="let item of listManufacture" [ngValue]="item.Id">{{item.Code}}</option>
                  </select>
                  <div *ngIf="f.submitted && ManufactureId.invalid" class="invalid-feedback">
                    <div *ngIf="ManufactureId.errors.required">Bạn phải chọn Hãng</div>
                  </div>
                </div> -->
                <div class="controls">
                  <div class="input-group">
                    <nts-drop-down-tree [disUipermission]="['F000402']" [items]="listManufacture"
                      [columns]="columnName" ntsParentId="ParentId" ntsValue="Id" ntsLabel="Code" ntsMode="single"
                      ntsAutoClose="true" [(ngModel)]="model.ManufactureId" name="Id">
                    </nts-drop-down-tree>
                  </div>
                  <!-- <div *ngIf="f.submitted && model.ManufactureId.invalid" class="invalid-feedback">
                    <div *ngIf="ManufactureId.errors.required">Bạn phải chọn Hãng</div>
                  </div> -->
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="form-label">Loại<span style="color: red">*</span></label>
                <div class="controls">
                  <select name="NSMaterialTypeId" class="form-control" [(ngModel)]="model.NSMaterialTypeId"
                    [ngClass]="{'is-invalid':f.submitted && NSMaterialTypeId.invalid}" #NSMaterialTypeId="ngModel"
                    required>
                    <option value="" disabled selected>Chọn loại</option>
                    <option *ngFor="let item of listNSMaterialType" [ngValue]="item.Id">{{item.Name}}</option>
                  </select>
                  <div *ngIf="f.submitted && NSMaterialTypeId.invalid" class="invalid-feedback">
                    <div *ngIf="NSMaterialTypeId.errors.required">Bạn phải chọn Loại</div>
                  </div>
                </div>
              </div> -->

            </div>
            <div class="form-group">
              <label class="form-label">Mô tả</label>
              <div class="controls">
                <textarea [disUipermission]="['F000402']" class="form-control" name="Description"
                  [(ngModel)]="model.Description"></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <p class="text-uppercase"><b>Thông số kỹ thuật</b></p>
            <perfect-scrollbar [config]="constants.ScrollYConfig" style="height:auto; width:100%;">
              <table class="table table-bordered" style="min-width:300px">
                <thead>
                  <tr>
                    <th width="100px" class="text-center">Mã thông số</th>
                    <th width="100px" class="text-center">Tên thông số</th>
                    <th width="100px" class="text-center">Đơn vị</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of model.ListParameter; let i = index" [ngClass]="{'selected':selectIndex == i}"
                    [disUipermission]="['F000402','F000404']" (click)="loadValue(i);">
                    <td class="text-center">{{row.Code}}</td>
                    <td>
                      <input [disUipermission]="['F000402']" type="text" [(ngModel)]="row.Name"
                        class="form-control" [name]="'name' + i" maxlength="100">
                    </td>
                    <td>
                      <input [disUipermission]="['F000402']" type="text" [(ngModel)]="row.Unit"
                        class="form-control" [name]="'unit' + i" maxlength="50">
                    </td>
                  </tr>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <p class="text-uppercase"><b>Giá trị thông số</b></p>
            <perfect-scrollbar [config]="constants.ScrollYConfig" style="width:100%;">
              <table class="table table-bordered" style="min-width:300px">
                <thead>
                  <tr>
                    <th width="100px" class="text-center">Cột xử lý</th>
                    <th width="100px" class="text-center">Giá trị</th>
                    <th width="100px" class="text-center">Mô tả</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="selectIndex >=0">
                    <tr *ngFor="let row of model.ListParameter[this.selectIndex].ListValue; let i = index">
                      <td class="text-center">
                        <button *appUipermission="['F000402']" type="button" class="btn btn-xs btn-danger"
                          ngbTooltip="Xóa" (click)="deleteValue(i)">
                          <span class="fas fa-times" aria-hidden="true"></span>
                        </button>
                      </td>
                      <td>
                        <input [disUipermission]="['F000402']" type="text" [(ngModel)]="row.Value"
                          class="form-control" [name]="'Value'+i" maxlength="50">
                      </td>
                      <td>
                        <input [disUipermission]="['F000402']" type="text" [(ngModel)]="row.Description"
                          class="form-control" [name]="'Description'+i" maxlength="300">
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <button *appUipermission="['F000402']" type="button" class="btn btn-xs btn-success"
                          ngbTooltip="Thêm dòng" (click)="addRowValue()">
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                      <td>
                        <input [disUipermission]="['F000402']" type="text" [(ngModel)]="value"
                          class="form-control" name="Valuensmaterialgroup">
                      </td>
                      <td>
                        <input [disUipermission]="['F000402']" type="text" [(ngModel)]="description"
                          class="form-control" name="DescriptionValuensmaterialgroup">
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>

        </div>
        <div class="row" style="margin-top:20px">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row">
              <div class="col-lg-7 col-md-8 col-sm-12">
                <p class="text-uppercase"><b>Danh sách file đính kèm</b></p>
              </div>
              <div class="col-lg-5 col-md-4 col-sm-12 text-right">
                <!-- <input type="button" value="Upload" class="btn btn-success btn-upload" (click)="fileInput.click();"> -->
                <button [disUipermission]="['F000402']" class="btn btn-success" (click)="fileInput.click();">
                  <i class="fas fa-arrow-up"></i>&nbsp;
                  <span>Upload</span>
                </button>&nbsp;&nbsp;

                <input name="file" style="display: none;" type="file" id="fileInput" #fileInput
                  [disUipermission]="['F000402']" (change)="uploadFileClick($event)" multiple />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
                  <table class="table table-bordered" style="min-width:500px">
                    <thead>
                      <tr>
                        <th width="50px" class="text-center">STT</th>
                        <th width="100px" class="text-center">Cột xử lý</th>
                        <th width="150px" class="text-center">Tên file</th>
                        <th width="100px" class="text-center">Dung lượng</th>
                        <th width="100px" class="text-center">Ngày</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of model.ListFile; let i = index">
                        <td class="text-center">{{index+i}}</td>
                        <td class="text-center">
                          <button *appUipermission="['F000402']" type="button" class="btn btn-xs btn-danger"
                            ngbTooltip="Xóa" placement="bottom" (click)="showConfirmDeleteFile(i)">
                            <span class="fas fa-times" aria-hidden="true"></span>
                          </button>&nbsp;
                          <ng-container *appUipermission="['F000402','F000405']">
                            <button *ngIf="row.Id != '' && row.Id != null" style="background-color: papayawhip"
                              class="btn btn-xs" (click)="DownloadAFile(row)">
                              <span class="fa fa-download" aria-hidden="true"></span>
                            </button>
                          </ng-container>
                        </td>
                        <td>{{row.FileName}}</td>
                        <td class="text-center">{{row.FileSize / (1024*1024)| number: '1.1-3'}} MB</td>
                        <td>{{row.CreateDate| date: 'dd/MM/yyyy'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button *appUipermission="['F000402']" class="btn btn-success" (click)="update()">
              <i class="fa fa-save"></i>&nbsp;
              <span>Lưu</span>
            </button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="close()">
              <i class="fa fa-power-off"></i> &nbsp;
              <span>Đóng</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>