<div class='content-wrapper page-content'>
    <section class="search-left">
        <div class="content-body">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 bold">
                    <label class="form-label" style="line-height:25px;">Tổng số
                        <span class="bold text-danger">{{productStandGroupModel.TotalItems}}</span> nhóm tiêu
                        chuẩn</label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 bold text-right">
                    <button type="button" (click)="showCreateUpdate('')" class="btn btn-xs btn-success"
                        placement="bottom" ngbTooltip="Thêm nhóm tiêu chuẩn" container="body"
                        *appUipermission="['F020401']">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 ">
                    <dx-tree-list id="productstandargroup" [dataSource]="listProductStandGroup" keyExpr="Id"
                        parentIdExpr="ParentId" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true"
                        [height]="height" (onSelectionChanged)="onSelectionChanged($event)"
                        [expandedRowKeys]="listProductStandGroupId">
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-search-panel [visible]="true" placeholder="Nội dung tìm kiếm"></dxo-search-panel>
                        <dxi-column dataField="Code" caption="Mã nhóm"></dxi-column>
                        <dxi-column dataField="Name" caption="Tên nhóm tiêu chuẩn" [minWidth]="200">
                        </dxi-column>
                        <dxi-column dataField="Id" cellTemplate="cellEditTemplate" caption="Xử lý" width="70px"
                            [allowSearch]="false">
                            <div *dxTemplate="let item of 'cellEditTemplate'">
                                <ng-container *appUipermission="['F020402']">
                                    <button *ngIf="item.value != 0" type="button" class="item-update" container="body"
                                        placement="top" ngbTooltip="Sửa nhóm" (click)=" showCreateUpdate(item.value)">
                                        <i class="fa fa-edit"></i></button>
                                </ng-container>
                                <ng-container *appUipermission="['F020402']">
                                    <button *ngIf="item.value != 0" type="button" container="body" placement="top"
                                        class="item-delete" ngbTooltip="Xóa nhóm"
                                        (click)=" showConfirmDeleteProductStandardGroup(item.value)">
                                        <i class="fas fa-times"></i></button>
                                </ng-container>
                            </div>
                        </dxi-column>
                    </dx-tree-list>
                    <dx-context-menu [dataSource]="items" keyExpr="Id" [width]="200" target="#productstandargroup"
                        (onItemClick)="itemClick($event)">
                        <div *dxTemplate="let e of 'item'">
                            <div>
                                <span [ngClass]="e.icon"></span>&nbsp; {{e.text}}
                            </div>
                        </div>
                    </dx-context-menu>
                </div>
            </div>
        </div>
    </section>
    <section class="body-right">
        <div class="content-body pb-0">
            <form name="searchForm" #f="ngForm">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <nts-search-bar [(options)]="searchOptions" [(ngModel)]="model" name="modelPeoduct"
                            (change)="searchProductStandard(productStandardGroupId)">
                        </nts-search-bar>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 text-right">
                        <button class="btn btn-success btn-success-system"
                            (click)="searchProductStandard(productStandardGroupId)">
                            <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp;
                        <button class="btn btn-default btn-default-system" (click)="clear(productStandardGroupId)">
                            <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="content-body">
            <div class="row margin-bottom-10">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 text-left">
                    <label class="form-label" style="line-height:35px;">Tổng số
                        <span class="bold text-danger">{{model.totalItems}}</span> tiêu chuẩn</label>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 text-right">
                    <button type="button" class="btn btn-success" (click)="ShowCreate()" container="body"
                        *appUipermission="['F020501']">
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </button>&nbsp;&nbsp;
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i
                                class="fas fa-cog"></i></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="btn  btn-success" (click)="exportExcel()" *appUipermission="['F020505']">
                                <i class="fa fa-file-excel" aria-hidden="true"></i>
                                Xuất excel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
                        <table class="table table-bordered" style="min-width:1950px">
                            <thead>
                                <tr>
                                    <th width="50px" class="text-center">STT</th>
                                    <th width="100px" class="text-center">Xử lý</th>
                                    <th width="150px" class="text-center">Mã tiêu chuẩn</th>
                                    <th width="200px" class="text-center ">Tên tiêu chuẩn</th>
                                    <th width="100px" class="text-center ">Loại</th>
                                    <th width="200px" class="text-center ">Nhóm tiêu chuẩn</th>
                                    <th width="150px" class="text-center ">SBU</th>
                                    <th width="200px" class="text-center ">Bộ phận sử dụng </th>
                                    <th min-width="200px" class="text-center ">Nội dung</th>
                                    <th width="100px" class="text-center ">Ngày tạo</th>
                                    <th width="100px" class="text-center ">Version</th>
                                    <th width="200px" class="text-center ">Nội dung sửa đổi</th>
                                    <th width="200px" class="text-center ">Người tạo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listDA; let i = index">
                                    <td class="text-center">{{startIndex+i}}</td>
                                    <td class="text-center">
                                        <button type="button" (click)='ShowUpdate(row.Id)'
                                            class="btn btn-xs btn-warning" placement="top" ngbTooltip="Cập nhật"
                                            container="body" *appUipermission="['F020502']">
                                            <span class="fa fa-edit" aria-hidden="true"></span>
                                        </button>&nbsp;
                                        <button class="btn btn-xs btn-danger"
                                            (click)="showConfirmDeleteProductStandard(row.Id)" placement="top"
                                            ngbTooltip="Xóa" container="body" *appUipermission="['F020503']">
                                            <span class="fas fa-times" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>{{row.Code}}</td>
                                    <td>{{row.Name}}</td>
                                    <td>{{row.DataType| filterinlist:constant.ListWorkType}}</td>
                                    <td>{{row.ProductStandardGroupName}}</td>
                                    <td>{{row.SBUName}}</td>
                                    <td>{{row.DepartmentName}}</td>
                                    <td>{{row.Content|limitTo:300}}</td>
                                    <td>{{row.CreateDate|date:'dd/MM/yyyy'}}</td>
                                    <td>{{row.Version}}</td>
                                    <td>{{row.EditContent}}</td>
                                    <td>{{row.CreateByName}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="listDA.length == 0">
                                <tr class="bold">
                                    <td colspan="12" min-width="300px" class="text-center"
                                        style="height: 300px; font-size: 20px;">Không có dữ liệu</td>
                                </tr>
                            </tfoot>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
                            (ngModelChange)="searchProductStandard(productStandardGroupId)" name="pageSize">
                            <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label" style="padding:4px;">bản ghi/Trang</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="model.totalItems" [(page)]="model.PageNumber"
                        (pageChange)="searchProductStandard(productStandardGroupId)" [pageSize]="model.PageSize"
                        [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-view btn-warning">
                        <i class="fa fa-edit"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Sửa tiêu chuẩn</small>
                    <button class="btn btn-view btn-danger">
                        <i class="fas fa-times"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Xóa tiêu chuẩn</small>

                    <button class="btn btn-view btn-success">
                        <i class="fas fa-plus"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">Thêm nhóm tiêu chuẩn</small>
                </div>
            </div>
        </div>
    </section>
</div>