<editor [disUipermission] = "['F040723']" [(ngModel)]="model.Content" apiKey="sik9mbk5c0rjt4dlqqdljoimirqymyspqfdiwe28mj6bxima" name="Content" [init]="{height: 500}"></editor>
<div class="text-right">
  <button *appUipermission = "['F040723']" type="button" class="btn btn-success" (click)="showConfirmUploadVersion()">
    <i class="fa fa-save"></i>&nbsp;
    <span>Lưu</span>
  </button>&nbsp;
  <button type="button" class="btn btn-danger" (click)="closeModal()">
    <i class="fa fa-power-off"></i> &nbsp;
    <span>
      Đóng
    </span>
  </button>
</div>