<div class='content-wrapper page-content'>
    <section class="body-right">
        <div class="content-body">
            <div class="row">
                <div class="col-12">                  
                    <ul>
                        <li class="li-function">
                            <a [routerLink]="['/tivi/bao-cao/bao-cao-van-de-ton-dong']" class="btn">                             
                                <span class="title">Báo cáo vấn đề tồn đọng</span>
                            </a>
                        </li>
                        <li class="li-function">
                            <a [routerLink]="['/tivi/bao-cao/bao-cao-van-de-ton-dong-phong-ban']" class="btn">                             
                                <span class="title">Báo cáo vấn đề tồn đọng phòng ban</span>
                            </a>
                        </li>
                        <li class="li-function">
                            <a [routerLink]="['/tivi/bao-cao/bao-cao-phong-thiet-ke']" class="btn">                             
                                <span class="title">Báo cáo phòng thiết kế</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>