<div class="modal-header">
  <h4 class="modal-title text-uppercase text-danger">{{modalInfo.Title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body padding-15">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
      <perfect-scrollbar [config]="constant.ScrollXConfig" style="height:auto; width:100%;">
        <table class="table table-bordered" style="min-width:500px">
          <thead>
            <tr>
              <th width="50px" class="text-center">STT</th>
              <th width="50px" class="text-center">
                <div class="custom-control custom-checkbox">
                  <input class="text-center" [(ngModel)]="isSelectAll" type="checkbox" class="custom-control-input"
                    id="checkAll" name="checkAll" (change)="changeCheckAll()">
                  <label class="custom-control-label" for="checkAll"></label>
                </div>
              </th>
              <th width="200px" class="text-center">Mã thiết bị</th>
              <th min-width="200px" class="text-center">Tên thiết bị</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of listData; let i = index">
              <td class="text-center">{{i+1}}</td>
              <td class="text-center" width="50px">
                <div class="custom-control custom-checkbox">
                  <input class="text-center" [(ngModel)]="row.IsChecked" type="checkbox" class="custom-control-input"
                    [id]="'b'+i" [name]="'b'+i">
                  <label class="custom-control-label" [for]="'b'+i"></label>
                </div>
              </td>
              <td>{{row.Code}}</td>
              <td>{{row.Name}}</td>
            </tr>
          </tbody>
          <tfoot *ngIf="listData.length == 0">
            <tr class="bold">
              <td colspan="10" min-width="300px" class="text-center" style="height: 300px; font-size: 20px;">Không có dữ
                liệu</td>
            </tr>
          </tfoot>
        </table>
      </perfect-scrollbar>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button *ngIf="listData.length > 0" type="button" class="btn btn-success" (click)='closeModal(true)'
    container="body">
    <i class="fa fa-save"></i>
    Lưu
  </button>&nbsp;
  <button type="button" class="btn btn-danger" (click)="closeModal(false)">
    <i class="fa fa-power-off"></i> &nbsp;
    <span>
      Đóng
    </span>
  </button>
</div>