.as-split-gutter .as-split-gutter-icon {
  width: 100% !important;
  height: 100% !important;
  background-position: center center;
  background-repeat: no-repeat;
}

.my-class {
  text-align: center;
}

.sp-1 {
  height: 100%;
}

app-project-product {
  span.dx-checkbox-icon {
    border-color: #212529 !important;
    background-color: #fff !important;
  }

  .warring_amountTHTK {
    background-color: yellow;
  }

  .btn-save{
    position: absolute;
    right: 0px;
    top: -25px;
  }

  .tab-content{
    position: relative;
  }

  // .dx-treelist-rowsview .dx-row{
  //   background-color: aquamarine;
  // }
}
