.material-icons.md-blue { color: #0056ac }
.img-fluid{
    max-height: 55px;
}

.img-fluid-small{
    max-height: 35px;
}

.sidebar_shift .img-fluid{
    margin-top: 10px;
}

.page-topbar .logo-area{
    text-align: center;
}

app-topbar .dropdown-item:active a{
    color: #ffffff !important;
}

.page-topbar li .dropdown-menu.profile{
    max-width: 200px;
}