<div class='content-wrapper'>
  <section class="box box-head">
    <header class="panel_header panel_header_body">
      <h2 class="title pull-left">Tìm kiếm</h2>
      <div class="actions panel_actions pull-right">
        <i class="box_toggle material-icons">expand_more</i>
      </div>
    </header>
    <div class="content-body padding-15">
      <form name="searchForm" #f="ngForm">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label class="form-label">Mã nhóm thiết bị</label>
              <div class="controls">
                <input type="text" class="form-control" name="Code" [(ngModel)]="model.Code">
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="form-group">
              <label class="form-label">Tên nhóm thiết bị</label>
              <div class="controls">
                <input type="text" class="form-control" name="Name" [(ngModel)]="model.Name">
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 text-right margin-top-20">
            <button class="btn btn-success btn-success-system" (click)="searchProductGroup()">
              <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>&nbsp; &nbsp;
            <button class="btn btn-default btn-default-system" (click)="clear()">
              <i class="fas fa-redo-alt"></i> &nbsp;Làm mới</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="box ">
    <header class="panel_header panel_header_body">
      <h2 class="title pull-left div-system">Danh sách nhóm thiết bị</h2>
      <div class="actions panel_actions pull-right">
        <i class="box_toggle material-icons">expand_more</i>
      </div>
    </header>
    <div class="content-body padding-15">
      <div class="row margin-bottom-10">
        <div class="col-md-6 text-left">
          <label class="form-label" style="line-height:35px;">Tổng số
            <span class="bold text-danger">{{model.totalItems}}</span> nhóm thiết bị</label>
        </div>
        <div class="col-md-6 text-right">
          <button type="button" class="btn btn-success" (click)="showCreateUpdate('')" container="body">
            <i class="fa fa-plus"></i>
            Thêm mới
          </button>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <dx-tree-list id="employees" [dataSource]="listDA" keyExpr="Id" parentIdExpr="ParentId" [showRowLines]="true"
            [showBorders]="true" [columnAutoWidth]="true" [expandedRowKeys]="ListProductGroupId" [columnAutoWidth]="true"
            (onSelectionChanged)="onSelectionChanged($event)">
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column dataField="Code" caption="Mã nhóm" width="300px"></dxi-column>
            <dxi-column dataField="Name" caption="Tên nhóm" width="300px"></dxi-column>
            <dxi-column dataField="Description" caption="Mô tả" min-width="250px"></dxi-column>
            <dxi-column dataField="Id" cellTemplate="cellEditTemplate" caption="Xử lý" width="100px">
              <div *dxTemplate="let cell of 'cellEditTemplate'">
                <button type="button" (click)='showCreateUpdate(cell.value)' class="btn btn-xs btn-warning"
                  placement="bottom" ngbTooltip="Cập nhật" container="body">
                  <span class="fa fa-edit" aria-hidden="true"></span>
                </button> &nbsp;
                <button class="btn btn-xs btn-danger" (click)="showConfirmDeleteProductGroup(cell.value)" title="Xóa">
                  <span class="fas fa-times" aria-hidden="true"></span>
                </button>
              </div>
            </dxi-column>
          </dx-tree-list>
        </div>
      </div>



      <!-- <div class="row">
          <div class="col-md-4  d-flex justify-content-start">
            <div class="controls ">
              <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="model.PageSize"
                (ngModelChange)="searchModuleGroup()" name="pageSize">
                <option *ngFor="let item of lstpageSize" [value]="item">{{item}}</option>
              </select>
            </div>
            <label class="form-label " style="padding: 4px;">bản ghi/Trang</label>
          </div>
          <div class="col-md-8  d-flex justify-content-end">
            <ngb-pagination [collectionSize]="model.totalItems" [(page)]="model.page" (pageChange)="loadPage($event)"
              [pageSize]="model.PageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div> -->
      <hr />
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-view btn-warning">
            <i class="fa fa-edit"></i>
          </button>&nbsp;
          <small class="padding-right-20">Sửa nhóm thiết bị</small>
          <button class="btn btn-view btn-danger">
            <i class="fas fa-times"></i>
          </button>&nbsp;
          <small class="padding-right-20">Xóa nhóm thiết bị</small>
        </div>
      </div>
    </div>
  </section>
</div>