<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 text-left">
    <label class="form-label">Tài liệu hướng dẫn sử dụng
    </label>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 text-right">
    <div style="margin-left: 5px" class="upload-btn-wrapper">
      <button *appUipermission="['F020101']" type="button" class="btn btn-success" (click)='showDocumentAttach()'
        container="body">
        <i class="fa fa-plus"></i>
        Chọn tài liệu
      </button>&nbsp;

      <button *appUipermission="['F110801','F110802']" class="btn btn-success btn-upload" (click)="fileInput.click();">
        <i class="fas fa-arrow-up"></i> &nbsp;Upload</button>
      <input name="fileDataSheet" style="display: none;" type="file" id="fileDataSheet" #fileInput
        (change)="uploadFileAttach($event)" multiple />
    </div>
  </div>
</div>
<perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
  <table class="table table-bordered" style="min-width:650px">
    <thead>
      <tr>
        <th width="50px" class="text-center">STT</th>
        <th width="100px" class="text-center">Xử lý</th>
        <th min-width="200px" class="text-center">Tên file</th>
        <th width="100px" class="text-center">Dung lượng</th>
        <th width="200px" class="text-center">Mô tả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of listFileAttach;let i=index">
        <td class="text-center">{{i+1}}</td>
        <td class="text-center">
          <ng-container>
            <button *appUipermission="['F110801','F110802']" class="btn btn-xs btn-danger"
              (click)="showConfirmDeleteFile(i)" ngbTooltip="Xóa" container="body">
              <span class="fas fa-times" aria-hidden="true"></span>
            </button>
          </ng-container>&nbsp;

          <ng-container *ngIf="row.FilePath">
            <button *appUipermission="['F110801','F110802']" style="background-color: papayawhip" class="btn btn-xs"
              (click)="downloadDocument(row)" ngbTooltip="Tải" container="body">
              <span class="fa fa-download" aria-hidden="true"></span>
            </button>
          </ng-container>
          <ng-container *ngIf="row.IsDocument">
            <button style="background-color: papayawhip" class="btn btn-xs" (click)="DownloadFileDocument(row)"
              ngbTooltip="Tải" container="body">
              <span class="fa fa-download" aria-hidden="true"></span>
            </button>
          </ng-container>
        </td>
        <td>
          <span *ngIf="row.Id==null">{{row.name}}</span>
          <span *ngIf="row.Id!=null">{{row.FileName}}</span>
        </td>
        <td class="text-center">
          <span *ngIf="row.Id==null">{{row.size/ (1024*1024)| number: '1.1-3'}} MB</span>
          <span *ngIf="row.Id!=null">{{row.FileSize / (1024*1024)| number: '1.1-3'}} MB</span>
        </td>
        <td>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="row.Note" maxlength="300" [name]="'rowNote'+i">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</perfect-scrollbar>

<div class="row mt-3">
  <div class="col-lg-6 col-md-6 col-sm-6 text-left">
    <label class="form-label">Tài liệu Catalog
    </label>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 text-right">
    <div style="margin-left: 5px" class="upload-btn-wrapper">
      <button *appUipermission="['F020101']" type="button" class="btn btn-success" (click)='showDocumentCatalog()'
        container="body">
        <i class="fa fa-plus"></i>
        Chọn tài liệu
      </button>&nbsp;

      <button *appUipermission="['F110801','F110802']" class="btn btn-success btn-upload"
        (click)="fileInputCatalog.click();">
        <i class="fas fa-arrow-up"></i> &nbsp;Upload</button>
      <input name="fileCatalog" style="display: none;" type="file" id="fileCatalog" #fileInputCatalog
        (change)="uploadFileCatalog($event)" multiple />
    </div>
  </div>
</div>
<perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
  <table class="table table-bordered" style="min-width:650px">
    <thead>
      <tr>
        <th width="50px" class="text-center">STT</th>
        <th width="100px" class="text-center">Xử lý</th>
        <th min-width="200px" class="text-center">Tên file</th>
        <th width="100px" class="text-center">Dung lượng</th>
        <th width="200px" class="text-center">Mô tả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of listCatalog;let i=index">
        <td class="text-center">{{i+1}}</td>
        <td class="text-center">
          <ng-container>
            <button *appUipermission="['F110801','F110802']" class="btn btn-xs btn-danger"
              (click)="showConfirmDeleteCatalog(i)" ngbTooltip="Xóa" container="body">
              <span class="fas fa-times" aria-hidden="true"></span>
            </button>
          </ng-container>&nbsp;

          <ng-container *ngIf="row.FilePath">
            <button *appUipermission="['F110801','F110802']" style="background-color: papayawhip" class="btn btn-xs"
              (click)="downloadCatalog(row)" ngbTooltip="Tải" container="body">
              <span class="fa fa-download" aria-hidden="true"></span>
            </button>
          </ng-container>
          <ng-container *ngIf="row.IsDocument">
            <button style="background-color: papayawhip" class="btn btn-xs" (click)="DownloadFileDocument(row)"
              ngbTooltip="Tải" container="body">
              <span class="fa fa-download" aria-hidden="true"></span>
            </button>
          </ng-container>
        </td>
        <td>
          <span *ngIf="row.Id==null">{{row.name}}</span>
          <span *ngIf="row.Id!=null">{{row.FileName}}</span>
        </td>
        <td class="text-center">
          <span *ngIf="row.Id==null">{{row.size/ (1024*1024)| number: '1.1-3'}} MB</span>
          <span *ngIf="row.Id!=null">{{row.FileSize / (1024*1024)| number: '1.1-3'}} MB</span>
        </td>
        <td>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="row.Note" maxlength="300" [name]="'rowNote'+i">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</perfect-scrollbar>

<div class="row mt-3">
  <div class="col-lg-6 col-md-6 col-sm-6 text-left">
    <label class="form-label">Tài liệu Hồ sơ chứng từ
    </label>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 text-right">
    <div style="margin-left: 5px" class="upload-btn-wrapper">
      <button *appUipermission="['F110801','F110802']" class="btn btn-success btn-upload"
        (click)="fileInputCOCQ.click();">
        <i class="fas fa-arrow-up"></i> &nbsp;Upload</button>
      <input name="fileCatalog" style="display: none;" type="file" id="fileCatalog" #fileInputCOCQ
        (change)="uploadFileCOCQ($event)" />
    </div>
  </div>
</div>
<perfect-scrollbar [config]="constants.ScrollXConfig" style="height:auto; width:100%;">
  <table class="table table-bordered" style="min-width:660px">
    <thead>
      <tr>
        <th width="50px" class="text-center">STT</th>
        <th width="110px" class="text-center">Xử lý</th>
        <th min-width="200px" class="text-center">Tên tài liệu</th>
        <th width="100px" class="text-center">Dung lượng</th>
        <th width="200px" class="text-center">Mô tả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of listCO_CQ;let i=index">
        <td class="text-center">{{i+1}}</td>
        <td class="text-center">
          <ng-container>
            <button *appUipermission="['F110801','F110802']" class="btn btn-xs btn-danger"
              (click)="showConfirmDeleteCOCQ(i)" ngbTooltip="Xóa" container="body">
              <span class="fas fa-times" aria-hidden="true"></span>
            </button>
          </ng-container>&nbsp;

          <button *appUipermission="['F110801','F110802']" class="btn btn-xs btn-success btn-upload"
            (click)="uploadFileDocument(row.DocumentTemplateId)" ngbTooltip="Tải" container="body">
            <span class="fas fa-upload" aria-hidden="true"></span>
          </button>&nbsp;

          <ng-container *ngIf="row.FilePath">
            <button *appUipermission="['F110801','F110802']" style="background-color: papayawhip" class="btn btn-xs"
              (click)="downloadCOCQ(row)" ngbTooltip="Tải" container="body">
              <span class="fas fa-download" aria-hidden="true"></span>
            </button>
          </ng-container>
        </td>
        <td>
          <span>{{row.DocumentName}}</span>
        </td>
        <td class="text-center">
          <span *ngIf="row.Id==null">{{row.size/ (1024*1024)| number: '1.1-3'}} MB</span>
          <span *ngIf="row.Id!=null">{{row.FileSize / (1024*1024)| number: '1.1-3'}} MB</span>
        </td>
        <td>
          <div class="controls">
            <input type="text" class="form-control" [(ngModel)]="row.Note" maxlength="300" [name]="'rowNote'+i">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</perfect-scrollbar>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 text-right">
    <button *appUipermission="['F110801','F110802']" type="button" class="btn btn-success" (click)="save()">
      <i class="fa fa-save"></i>&nbsp;
      <span>Lưu</span>
    </button>
  </div>
</div>