.paddingcreate {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.dx-header-row {
    .plan-header-cell {
        text-align: center !important;

        .dx-treelist-text-content {
            white-space: normal !important;
            text-align: center !important;
        }
    }

    .plan-design {
        background-color: #e26c69 !important;
    }

    .diary-plan {
        background-color: #f37f20 !important;
    }
}