<div class="modal-header">
  <h4 class="modal-title text-uppercase text-danger">Thay đổi mật khẩu</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(true)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body " style="padding: 15px">
  <form name="form" class="tab-form-demo" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Mật khẩu cũ
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input type="password" class="form-control" maxlength="32" [(ngModel)]="model.OldPassword" name="Old"
              required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group ">
          <label class="form-label">Mật khẩu mới
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls">
            <input type="password" class="form-control" maxlength="32" [(ngModel)]="model.NewPassword" name="New"
              required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group form-group-custom">
          <label class="form-label">Nhập lại mật khẩu mới
            <span class='text-danger text-strong'>&nbsp;*</span>
          </label>
          <div class="controls input-group">
            <input type="password" class="form-control" maxlength="32" [(ngModel)]="model.ConfirmPassword" name="con"
              required>
            <i *ngIf="model.NewPassword!=null && model.NewPassword!=''&& model.ConfirmPassword == model.NewPassword"
              class="fa fa-check" style="color:#83f442"></i>
            <i *ngIf="model.NewPassword!=null && model.NewPassword!=''&& model.ConfirmPassword != model.NewPassword"
              class="fa fa-close" style="color: red"></i>
          </div>

        </div>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" [disabled]="!f.form.valid || model.ConfirmPassword != model.NewPassword"
    (click)="ConfirmChangePassword()">
    <i class="fa fa-save"></i>&nbsp;
    <span>Lưu</span>
  </button>
  <button type="button" class="btn btn-danger" (click)="closeModal(false)">
    <i class="fa fa-power-off"></i> &nbsp;
    <span>
      Đóng
    </span>
  </button>
</div>